{#

{% set blockData = { 
    title: "", 
    copy: "",
    textColorClass: '',
    backgroundColorHex: '',
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/ad-unit.html" %}

#}

<section class="bg-white relative rounded shadowed xs-soft-half-sides xs-push-half-bottom">
	
	{% if blockData.imageUrl %}
    	<span class="full-screen background-cover background-center" style="background-image: url('{{ blockData.imageUrl }}'); {% if blockData.imageOpacity %}opacity: {{ blockData.imageOpacity }};{% endif %}"></span>
    {% endif %}

    <div class="bring-forward center-block text-constrained text-center soft xs-soft-top xs-soft-half-sides xs-soft-bottom">
		
		{% if blockData.title %}
        	<h2>{{ blockData.title }}</h2>
        {% endif %}

		{{ blockData.copy | safe }}

		{% if blockData.linkUrl %}
	        <p>
	        	<a href="{{ blockData.linkUrl }}" class="btn btn-primary">
	        		{% if blockData.linkText %}{{ blockData.linkText }}{% else %}Learn More{% endif %}
	        	</a>
	        </p>
        {% endif %}

    </div>
</section>