{#

{% set blockData = { 
    id: '',
    backgroundColorHex: '',
    linkColorHex: '',
    grayscale: '',
    titleSize:'',
    title: '', 
    copy: "",
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/ad-unit.html" %}

#}

{% if blockData.id %}
    <style>
        #block-{{ blockData.id }} {
            background-color: #{{ blockData.backgroundColorHex }};
        }

        #block-{{ blockData.id }} blockquote, blockquote footer, blockquote small, blockquote .small {
            color: #fff;
        }

        #block-{{ blockData.id }} a:not(.btn):not(.label) {
            color: #{{ blockData.linkColorHex }};
        }

        #block-{{ blockData.id }} .btn {
            background-color: #{{ blockData.linkColorHex }};
            border-color: #{{ blockData.linkColorHex }};
        }

        {% if blockData.backgroundColorHex %}
            #block-{{ blockData.id }}, #block-{{ blockData.id }} a:not(.btn):not(.label) {
                color: #fff;
            }

            #block-{{ blockData.id }} .btn, #block-{{ blockData.id }} .label {
                background-color: #303030;
                border-color: #303030;
            }
        {% endif %}

    </style>
{% endif %}

<section {% if blockData.id %}id="block-{{ blockData.id }}"{% endif %} class="bg-white position-relative overflow-hidden xs-soft-half-sides xs-soft-top xs-hard-bottom xs-push-half-bottom rounded shadowed">
	
	{% if blockData.imageUrl %}
    	<span class="full-screen background-cover background-center {% if blockData.grayscale %}grayscale{% endif %}" style="background-image: url('{{ blockData.imageUrl }}'); {% if blockData.imageOpacity %}opacity: {{ blockData.imageOpacity }};{% endif %}"></span>
    {% endif %}

    <div class="bring-forward center-block text-constrained text-center soft xs-soft-top xs-soft-half-sides xs-soft-bottom">
		
		{% if blockData.title %}
        	<h2 class="{{ blockData.titleSize }}">{{ blockData.title }}</h2>
        {% endif %}

		{{ blockData.copy | safe }}

		{% if blockData.linkUrl %}
	        <p>
	        	<a href="{{ blockData.linkUrl }}" class="btn btn-primary">
	        		{% if blockData.linkText %}{{ blockData.linkText }}{% else %}Learn More{% endif %}
	        	</a>
	        </p>
        {% endif %}

    </div>
</section>