<section class="relative overflow-hidden rounded bg-gray-darker flush">
    <span class="full-screen background-cover background-center" style="background-image: url('https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/all/heroes/newspringnetwork/network.home.faq_1700_1133_90_c1.jpg'); opacity: .2;"></span>
    <div class="bring-forward center-block text-constrained text-center soft-double">
        <h2 class="text-white">Who We Are</h2>
        <p class="text-white">In August 2014, NewSpring Network launched as a ministry to serve other churches. Today, NewSpring Network has served more than 45,000 church leaders around the world, and over 75,000 free resources have been downloaded from <a href="#">NewSpringNetwork.com.</a></p>
        <p><a href="#" class="btn btn-primary">Visit NewSpring Network</a></p>
    </div>
</section>