{#

{% set blockData = { 
    id: '',
    backgroundColorHex: '',
    linkColorHex: '',
    grayscale: '',
    count: '',
    label: '',
    textAlignment: '',
    titleSize: '',
    title: '', 
    subtitle: "",
    copy: "",
    trimCopy: '',
    tags: {
      '': ''
    },
    imageShape: '',
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/card.html" %}

#}

{% if blockData.id %}
    <style>
        #block-{{ blockData.id }} {
            background-color: #{{ blockData.backgroundColorHex }};
        }

        #block-{{ blockData.id }} a:not(.btn):not(.label) {
            color: #{{ blockData.linkColorHex }};
        }

        #block-{{ blockData.id }} .btn {
            background-color: #{{ blockData.linkColorHex }};
            border-color: #{{ blockData.linkColorHex }};
        }

        {% if blockData.backgroundColorHex %}
            #block-{{ blockData.id }}, #block-{{ blockData.id }} a:not(.btn):not(.label) {
                color: #fff;
            }

            #block-{{ blockData.id }} .btn, #block-{{ blockData.id }} .label {
                background-color: #fff;
                border-color: #fff;
                color: #1c1c1c;
            }
        {% endif %}

    </style>
{% endif %}

<div {% if blockData.id %}id="block-{{ blockData.id }}"{% endif %} class="panel panel-default {% if blockData.textAlignment %}text-{{ blockData.textAlignment }}{% endif %}">

    {% if blockData.imageUrl %}
        {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}" class="panel-image">{% endif %}
            {% if blockData.count %}
                <span class="card-count sans-serif strong rounded bg-gray-lighter text-gray-darker text-center">{{ blockData.count }}</span>
            {% endif %}

            {% if blockData.imageShape %}
                <div class="{% if blockData.imageShape != 'circle' %}ratio-{{ blockData.imageShape }}{% else %}ratio-square circular push-double-sides push-double-top{% endif %} background-cover background-center" style="background-image:url('{{ blockData.imageUrl }}');"></div>
            {% else %}
                <img src="{{ blockData.imageUrl }}" alt="" class="{% if blockData.grayscale %}grayscale{% endif %}" style="{% if blockData.imageOpacity %}opacity: {{ blockData.imageOpacity }};{% endif %}">
            {% endif %}

        {% if blockData.linkUrl %}</a>{% endif %}
    {% endif %}

    <div class="panel-body sm-text-center xs-text-center">

        {% if blockData.label %}
            <p><small class="label label-gray-light sans-serif">{{ blockData.label }}</small></p>
        {% endif %}
        
        {% if blockData.title %}
            <h2 class="{{ blockData.titleSize }} push-half-bottom">
                {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}">{% endif %}
                    {{ blockData.title }}
                {% if blockData.linkUrl %}</a>{% endif %}
            </h2>
        {% endif %}

        {% if blockData.subtitle %}
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>{{ blockData.subtitle | safe }}</small></p>
        {% endif %}

        {% set tagCount = blockData.tags | length %}
        {% if tagCount != 0 %}
            <p class="tag-list sans-serif push-half-bottom">
                <small>{% for id, title in blockData.tags %}
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> {{ title }}</a>
                {% endfor %}</small>
            </p>
        {% endif %}
        
        {% if blockData.trimCopy %}
            {% set length = blockData.copy | length %}
            {{ blockData.copy | safe | truncate(140) }}{% if length > 140 %} <a href="#" data-toggle="modal" data-target="#{{ blockData.id }}-modal">Read More</a>{% endif %}
        {% else %}
            {{ blockData.copy | safe }}
        {% endif %}

        {% if blockData.linkUrl %}
            <p>
                <a href="{{ blockData.linkUrl }}" class="btn btn btn-primary" role="button">{% if blockData.linkText %}{{ blockData.linkText }}{% else %}Learn More{% endif %}</a>
            </p>
        {% endif %}

    </div>
</div>

{% if blockData.trimCopy %}
    {% if length > 140 %}
    <div class="modal fade" id="{{ blockData.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    <h3 class="flush">{{ blockData.title }}</h3>
                </div>
                <div class="modal-body soft hard-bottom">
                    {{ blockData.copy | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}