{#

{% set blockData = { 
    id: '',
    brandHex: '',
    type: '',
    typeIcon: '',
    titleSize:'',
    title: "",
    copy: "",
    tags: '',
    imageUrl: '',
    imageAlignment: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/card-side-by-side.html" %}

#}

{% if blockData.id and blockData.brandHex %}
    <style>
        .text-brand-{{ blockData.id }}, .text-brand-{{ blockData.id }}:hover * {
            color: #{{ blockData.brandHex }} !important;
        }

        .link-brand-{{ blockData.id }} a,
        .link-brand-{{ blockData.id }} a:hover {
            color: #{{ blockData.brandHex }} !important;
        }

        .bg-brand-{{ blockData.id }}, .bg-brand-{{ blockData.id }}:hover * {
            background-color: #{{ blockData.brandHex }} !important;
            border-color: #{{ blockData.brandHex }} !important;
        }
    </style>
{% elif blockData.id and pageForegroundColor %}
    <style>
        .text-brand-{{ blockData.id }}, .text-brand-{{ blockData.id }}:hover * {
            color: #{{ pageForegroundColor }} !important;
        }

        .link-brand-{{ blockData.id }} a,
        .link-brand-{{ blockData.id }} a:hover {
            color: #{{ pageForegroundColor }} !important;
        }

        .bg-brand-{{ blockData.id }}, .bg-brand-{{ blockData.id }}:hover * {
            background-color: #{{ pageForegroundColor }} !important;
            border-color: #{{ pageForegroundColor }} !important;
        }
    </style>
{% endif %}

<!-- EVERYTHING goes in a row! -->
<section class="hard relative overflow-hidden bg-white rounded shadowed"><!-- Section Color Classes -->

    {% if blockData.imageUrl %}
        {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}">{% endif %}

            <div class="split {% if blockData.imageAlignment == 'left' %}split-left{% else %}split-right{% endif %} background-center background-cover sm-push-bottom xs-push-bottom" style=" background-image: url('{{ blockData.imageUrl }}');"
        ></div>

        {% if blockData.linkUrl %}</a>{% endif %}
    {% endif %}
    

    <div class="row {% if blockData.imageAlignment == 'left' %}text-right{% else %}text-left{% endif %} flush"><!-- Section Padding and Alignement Classes -->
        <div class="col-xs-12 col-sm-12 col-md-6 text-left hard"><!-- Text Alignment Classes -->
            <div class="soft-double-ends soft-double-sides soft-bottom sm-soft xs-soft sm-text-center xs-text-center">

                {% if blockData.title %}
                    <h2 class="{{ blockData.titleSize }} {% if blockData.id and blockData.brandHex or pageForegroundColor %}text-brand-{{ blockData.id  }}{% endif %}">
                        {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}">{% endif %}
                            {{ blockData.title }}
                        {% if blockData.linkUrl %}</a>{% endif %}
                    </h2>
                {% endif %}

                <span class="link-brand-{{ blockData.id }}">
                    {{ blockData.copy | safe }}
                </span>

                {% if blockData.linkUrl or blockData.type %}
                    <p>
                        <a href="{{ blockData.linkUrl }}" class="btn btn-primary {% if blockData.id and blockData.brandHex or pageForegroundColor %}bg-brand-{{ blockData.id  }}{% endif %}" role="button">{% if blockData.linkText %}{{ blockData.linkText }}{% else %}Learn More{% endif %}</a> {% if blockData.type and blockData.typeIcon %}<span class="btn btn-size sans-serif strong pull-right">
                        {% if blockData.typeIcon %}<i class="{{ blockData.typeIcon }}"></i> {% endif %}{{ blockData.type }}</span>{% endif %}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
</section>