{#

{% set cardData = { 
    type: '',
    typeIcon: '',
    titleSize:'',
    title: "",
    copy: "",
    tags: '',
    imageUrl: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/card.html" %}

#}

<div class="panel panel-default">

    {% if cardData.imageUrl %}
        {% if cardData.linkUrl %}<a href="{{ cardData.linkUrl }}" class="panel-image">{% endif %}
            <img src="{{ cardData.imageUrl }}" alt="">
        {% if cardData.linkUrl %}</a>{% endif %}
    {% endif %}

    <div class="panel-body hard-bottom">
        
        {% if cardData.title %}
            <h2 class="{{ cardData.titleSize }}">
                {% if cardData.linkUrl %}<a href="{{ cardData.linkUrl }}">{% endif %}
                    {{ cardData.title }}
                {% if cardData.linkUrl %}</a>{% endif %}
            </h2>
        {% endif %}

        <p><small>
            {% for id, title in cardData.tags %}
                <a href="#" class="label label-secondary">{{ title }}</a>
            {% endfor %}
        </small></p>

        {{ cardData.copy | safe }}

        <!-- {% if cardData.type %}
            <p class="pull-right"><small class="sans-serif strong">
                {% if cardData.typeIcon %}<i class="{{ cardData.typeIcon }}"></i> {% endif %}{{ cardData.type }}</small>
            </p>
        {% endif %} -->

        {% if cardData.linkUrl or cardData.type %}
            <p>
                <a href="{{ cardData.linkUrl }}" class="btn btn-primary" role="button">{% if cardData.linkText %}{{ cardData.linkText }}{% else %}Learn More{% endif %}</a> <span class="btn btn-size sans-serif strong pull-right">
                {% if cardData.typeIcon %}<i class="{{ cardData.typeIcon }}"></i> {% endif %}{{ cardData.type }}</span>
            </p>
        {% endif %}

    </div>
</div>