{#

{% set cardData = { 
    id: '',
    brandHex: '',
    type: '',
    typeIcon: '',
    titleSize:'',
    title: "",
    copy: "",
    tags: '',
    imageUrl: '',
    imageAlignment: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/card-side-by-side.html" %}

#}

{% if cardData.id and cardData.brandHex %}
    <style>
        .text-brand-{{ cardData.id }}, .text-brand-{{ cardData.id }}:hover * {
            color: #{{ cardData.brandHex }} !important;
        }

        .link-brand-{{ cardData.id }} a,
        .link-brand-{{ cardData.id }} a:hover {
            color: #{{ cardData.brandHex }} !important;
        }

        .bg-brand-{{ cardData.id }}, .bg-brand-{{ cardData.id }}:hover * {
            background-color: #{{ cardData.brandHex }} !important;
            border-color: #{{ cardData.brandHex }} !important;
        }
    </style>
{% endif %}

<!-- EVERYTHING goes in a row! -->
<section class="relative overflow-hidden soft-top hard-bottom xs-soft-top xs-hard-bottom bg-white rounded shadowed xs-hard-top"><!-- Section Color Classes -->

    {% if cardData.imageUrl %}
        {% if cardData.linkUrl %}<a href="{{ cardData.linkUrl }}">{% endif %}

            <div class="split {% if cardData.imageAlignment == 'left' %}split-left{% else %}split-right{% endif %} background-center background-cover xs-push-bottom" style=" background-image: url('{{ cardData.imageUrl }}');"
        ></div>

        {% if cardData.linkUrl %}</a>{% endif %}
    {% endif %}
    

    <div class="row {% if cardData.imageAlignment == 'left' %}text-right{% else %}text-left{% endif %} flush"><!-- Section Padding and Alignement Classes -->
        <div class="col-xs-12 col-sm-12 col-md-6 text-left hard"><!-- Text Alignment Classes -->
            <div class="soft-sides xs-soft-sides">

                {% if cardData.title %}
                    <h2 class="{{ cardData.titleSize }} {% if cardData.id and cardData.brandHex %}text-brand-{{ cardData.id  }}{% endif %}">
                        {% if cardData.linkUrl %}<a href="{{ cardData.linkUrl }}">{% endif %}
                            {{ cardData.title }}
                        {% if cardData.linkUrl %}</a>{% endif %}
                    </h2>
                {% endif %}

                <span class="link-brand-{{ cardData.id }}">
                    {{ cardData.copy | safe }}
                </span>

                {% if cardData.linkUrl or cardData.type %}
                    <p>
                        <a href="{{ cardData.linkUrl }}" class="btn btn-sm btn-primary {% if cardData.id and cardData.brandHex %}bg-brand-{{ cardData.id  }}{% endif %}" role="button">{% if cardData.linkText %}{{ cardData.linkText }}{% else %}Learn More{% endif %}</a> <span class="btn btn-sm btn-size sans-serif strong pull-right">
                        {% if cardData.typeIcon %}<i class="{{ cardData.typeIcon }}"></i> {% endif %}{{ cardData.type }}</span>
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
</section>