{#

{% set blockData = { 
    id: '',
    foregroundColorHex:'',
    backgroundColorHex:'',
    type: '',
    typeIcon: '',
    label: '',
    titleSize:'',
    title: "",
    subtitle: "",
    copy: "",
    tags: {
      '': ''
    },
    imageUrl: '',
    imageAlignment: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/card-side-by-side.html" %}

#}

<!-- EVERYTHING goes in a row! -->
<section class="hard position-relative overflow-hidden bg-white rounded shadowed"><!-- Section Color Classes -->

    {% if blockData.imageUrl %}
        {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}">{% endif %}

            <div class="split {% if blockData.imageAlignment == 'left' %}split-left{% else %}split-right{% endif %} background-center background-cover sm-push-bottom xs-push-bottom" style=" background-image: url('{{ blockData.imageUrl }}');"
        ></div>

        {% if blockData.linkUrl %}</a>{% endif %}
    {% endif %}
    

    <div class="row {% if blockData.imageAlignment == 'left' %}text-right{% else %}text-left{% endif %} flush"><!-- Section Padding and Alignement Classes -->
        <div class="col-xs-12 col-sm-12 col-md-6 text-left hard"><!-- Text Alignment Classes -->
            <div class="soft-double soft-bottom sm-soft xs-soft sm-text-center xs-text-center">
                
                {% if blockData.label %}
                    <p><small class="label label-default sans-serif">{{ blockData.label }}</small></p>
                {% endif %}
                
                {% if blockData.title %}
                    <h2 class="push-half-bottom">
                        {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}">{% endif %}
                            {{ blockData.title }}
                        {% if blockData.linkUrl %}</a>{% endif %}
                    </h2>
                {% endif %}

                {% if blockData.subtitle %}
                    <p class="sans-serif strong push-half-bottom"><small>{{ blockData.subtitle | safe }}</small></p>
                {% endif %}

                {% set tagCount = blockData.tags | length %}
                {% if tagCount != 0 %}
                    <p><small>
                        {% for id, title in blockData.tags %}
                            <a href="#" class="label label-primary">{{ title }}</a>
                        {% endfor %}
                    </small></p>
                {% endif %}
                
                <div>
                    {% set length = blockData.copy | length %}
                    {{ blockData.copy | safe | truncate(250) }}{% if length > 250 %} <a href="#" data-toggle="modal" data-target="#{{ blockData.id }}-modal">Read More</a>{% endif %}
                </div>

                {% if blockData.linkUrl or blockData.type %}
                    <p>
                        <a href="{{ blockData.linkUrl }}" class="btn btn-primary" role="button">{% if blockData.linkText %}{{ blockData.linkText }}{% else %}Learn More{% endif %}</a> {% if blockData.type and blockData.typeIcon %}<span class="btn btn-size sans-serif strong pull-right">
                        {% if blockData.typeIcon %}<i class="{{ blockData.typeIcon }}"></i> {% endif %}{{ blockData.type }}</span>{% endif %}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% if length > 250 %}
<div class="modal fade" id="{{ blockData.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-lg fa-times"></i>
                </a>
                <h3 class="flush">{{ blockData.title }}</h3>
            </div>
            <div class="modal-body soft hard-bottom">
                {{ blockData.copy | safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}