{#

{% set blockData = { 
    title: "",
    copy: "",
    grayscale: '',
    imageUrl: '',
    backgroundVideoUrl: '',
    backgroundOpacity: '',
    textColorClass: '',
    foregroundColorHex:'',
    backgroundColorHex:'',
    linkUrl: '',
    linkText: '',
    linkClasses: '',
    videoId: ''
} %}{% include "partials/hero.html" %}

#}

<style>
    {% if blockData.foregroundColorHex %}
        .hero a,
        .hero a:hover {
            color: #{{ blockData.foregroundColorHex }};
        }

        .hero .btn, 
        .hero .btn:hover, 
        .hero .btn:focus {
            background-color: #{{ blockData.foregroundColorHex }};
        }

        .hero .btn:not(.btn-play), 
        .hero .btn:not(.btn-play):hover, 
        .hero .btn:not(.btn-play):focus {
            border-color: #{{ blockData.foregroundColorHex }};
        }
    {% elif pageForegroundColor %}
        .hero a:not(.btn),
        .hero a:not(.btn):hover {
            color: #{{ pageForegroundColor }};
        }

        .hero .btn, 
        .hero .btn:hover, 
        .hero .btn:focus {
            background-color: #{{ pageForegroundColor }};
        }

        .hero .btn:not(.btn-play), 
        .hero .btn:not(.btn-play):hover, 
        .hero .btn:not(.btn-play):focus {
            border-color: #{{ pageForegroundColor }};
        }
    {% endif %}
</style>

<!-- Hero -->
<section class="
hero
bg-gray-dark
position-relative 
rounded 
shadowed 
text-white 
push-bottom
xs-push-half-bottom

{% if blockData.backgroundVideoUrl or blockData.imageUrl %}
{% else %}
    soft-double-top soft-bottom
{% endif %} 

" style="
{% if blockData.backgroundColorHex %}
    background-color: #{{ blockData.backgroundColorHex }};
{% elif pageBackgroundColor %}
    background-color: #{{ pageBackgroundColor }};
{% endif %} z-index: 1;">

	{% if blockData.backgroundVideoUrl %}

        <!-- Background Video -->
		<video class="video rounded hidden-xs hidden-sm {% if blockData.grayscale == 'y' %}grayscale{% endif %}" style="display: block; position: absolute; object-fit: cover; min-width: 100%; min-height: 100%; width: 100%; height: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: {{ blockData.backgroundOpacity }};" width="1280" height="720" loop="" autoplay="">
			<source src="{{ blockData.backgroundVideoUrl }}.mp4" type="video/mp4">
			<source src="{{ blockData.backgroundVideoUrl }}.webm" type="video/webm">
		</video>

    {% endif %}
	
	<!-- Background Image -->
	{% if blockData.imageUrl %}
    	<span class="full-screen background-cover background-center rounded {% if blockData.backgroundVideoUrl %}hidden-md hidden-lg{% endif %} {% if blockData.grayscale == 'y' %}grayscale{% endif %}" style="background-image: url('{{ blockData.imageUrl }}'); {% if blockData.backgroundOpacity %}opacity: {{ blockData.backgroundOpacity }};{% endif %}"></span>
    {% endif %}

    <div class="bring-forward center-block text-constrained text-center soft-double-top">

        {% if blockData.imageOverlayUrl %}
            <img src="{{ blockData.imageOverlayUrl }}" alt="" class="push-bottom" style="width: 70%; max-width: 280px;">
        {% endif %}

		<span class="{% if blockData.textColorClass %}{{ blockData.textColorClass }}{% else %}text-white{% endif %}">

			{% if blockData.title %}
        		<h1>{{ blockData.title }}</h1>
        	{% endif %}

        	{{ blockData.copy | safe }}

        </span>


        {% if blockData.linkUrl %}
	        <p>
	        	<a href="{{ blockData.linkUrl }}" class="{% if blockData.linkClasses %}{{ blockData.linkClasses }}{% else %}btn btn-primary{% endif %}">
	        		{% if blockData.linkText %}{{ blockData.linkText }}{% else %}Learn More{% endif %}
	        	</a>
	        </p>
        {% endif %}

    </div>

    {% if blockData.videoId %}
        <div class="btn btn-play text-white shadowed"><span class="wistia_embed wistia_async_{{ blockData.videoId }} popover=true popoverContent=link" style="display:inline;position:relative"><i class="fas fa-fw fa-lg fa-play"></i></span></div>

        <script src="https://fast.wistia.com/embed/medias/{{ blockData.videoId }}.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    {% endif %}

</section>