<div class="slider-wrapper" data-slider>
    <div class="slider">
        <div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Aiken', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Anderson', 
                copy: "<p>Sunday at 9:15am, 11:15am & 5pm</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Charleston', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Clemson', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Columbia', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Florence', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Greenville', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Greenwood', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Hilton Head', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Myrtle Beach', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Northeast Columbia', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Powdersville', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div><div class="slider-item">

            {% set cardData = { 
                type: '',
                typeIcon: '',
                title: 'Rock Hill', 
                copy: "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>", 
                tags: '',
                imageUrl: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "partials/card.html" %}

        </div>
    </div>
</div>