<div class="slider-wrapper" data-slider>
    <div class="slider">
        <div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Aiken</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Anderson</h4>
                    <p>Sunday at 9:15am, 11:15am & 5pm</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Charleston</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Clemson</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Columbia</h4>
                    <p>Sunday at 9:15am, 11:15am & 5pm</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Florence</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Greenville</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Greenwood</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Hilton Head</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Myrtle Beach</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Northeast Columbia</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Powdersville</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div><div class="slider-item">
            <div class="panel panel-default shadowed">
                <div class="panel-body hard-bottom">
                    <h4>Rock Hill</h4>
                    <p>Sunday at 9:15am & 11:15am</p>
                    <p><small><a href="#">Get Directions</a></small></p>
                    <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>