<ul class="nav-primary sans-serif strong text-decoration-none hard flush">
	<li>
		<a href="/" class="nav-logo">
			<img src="//dg0ddngxdz549.cloudfront.net/newspring/icons/newspring_mark.png" alt="" class="nav-icon  nav-logo-regular"> 
			<span>NewSpring Church</span>
		</a>
	</li><span class="pull-right xs-pull-none"><li>
			<a href="#" data-toggle="modal" data-target="#navigation-modal" title="Menu"><i class="fas fa-fw fa-lg fa-bars"></i></a>
		</li><li>
			<a href="/locations.html" title="Locations"><i class="fas fa-fw fa-lg fa-map-marker-alt"></i></a>
		</li><li>
			<a href="#" data-toggle="modal" data-target="#search-modal" title="Search"><i class="fas fa-fw fa-lg fa-search"></i></a>
		</li><li>
			
				{% if userImage and signedIn %}
					<a href="/my-account.html" title="My Account">
						<img src="{{ userImage }}" alt="" class="nav-icon circular" style="border: 2px solid rgba(255,255,255,1)">
					</a>
				{% else %}
					<a href="/sign-in.html" title="Sign In">
						<i class="fas fa-fw fa-lg fa-user-circle"></i>
					</a>
				{% endif %}
		
			</a>
		</li></span>
</ul>