{% if pageForegroundColor %}
<style>
    .nav-wrapper a,
    .nav-wrapper a:hover,
    .nav-wrapper a:focus {
        color: #{{ pageForegroundColor }};
    }

    .nav-wrapper .btn-primary,
    .nav-wrapper .btn-primary:hover,
    .nav-wrapper .btn-primary:focus,
    .nav-wrapper .btn-primary:active, 
    .nav-wrapper .btn-primary.active, 
    .nav-wrapper .open > .btn-primary.dropdown-toggle,
    .nav-wrapper .dropdown-menu > .active > a, 
    .nav-wrapper .dropdown-menu > .active > a:hover, 
    .nav-wrapper .dropdown-menu > .active > a:focus,
    .nav-wrapper .btn-primary:active:hover, 
    .nav-wrapper .btn-primary:active:focus, 
    .nav-wrapper .btn-primary:active.focus, 
    .nav-wrapper .btn-primary.active:hover, 
    .nav-wrapper .btn-primary.active:focus, 
    .nav-wrapper .btn-primary.active.focus, 
    .nav-wrapper .open > .btn-primary.dropdown-toggle:hover, 
    .nav-wrapper .open > .btn-primary.dropdown-toggle:focus, 
    .nav-wrapper .open > .btn-primary.dropdown-toggle.focus {
        background-color: #{{ pageForegroundColor }};
        border-color: #{{ pageForegroundColor }};
    }

    .nav-wrapper .nav-pills > li.active > a, 
    .nav-wrapper .nav-pills > li.active > a:hover, 
    .nav-wrapper .nav-pills > li.active > a:focus {
        background-color: #{{ pageForegroundColor }};
    }
</style>
{% endif %}

<!-- Desktop Section Nav -->
<section class="nav-wrapper bg-white rounded shadowed soft-half hidden-xs hidden-sm">
    <ul class="nav xs-nav-stacked nav-pills">
        
        {% for url, title in blockData.pages %}
            <li role="presentation" class="{% if loop.index == 1 %}active{% endif %}"><a href="{{ url }}">{{ title}}</a></li>
        {% endfor %}

    </ul>
</section>

<!-- Mobile Section Nav -->
<section class="nav-wrapper bg-white rounded shadowed soft-half hidden-md hidden-lg push-bottom xs-push-half-bottom">
    <div class="btn-group width-full">

        {% for url, title in blockData.pages %}{% if loop.index == 1 %}
            <button type="button" class="btn btn-primary dropdown-toggle width-full" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ title }} <span class="caret"></span>
            </button>
        {% endif %}{% endfor %}

        <ul class="dropdown-menu width-full">

            {% for url, title in blockData.pages %}
                <li role="presentation"><a href="{{ url }}">{{ title }}</a></li>
            {% endfor %}

        </ul>
    </div>
</section>