<div id="navigation-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content soft">
      <div class="modal-header">
        <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
        <h1 class="modal-title">Hi Brian!</h1>
      </div>
      <div class="modal-body">
        <p>Where would you like to go?</p>
        <ul class="list-style-none hard">
          <li><h3 class="text-primary"><a href="#">About Us</a></h3></li>
          <li><h3 class="text-primary"><a href="#">Locations</a></h3></li>
          <li><h3 class="text-primary"><a href="#">Watch &amp; Read</a></h3></li>
          <li><h3 class="text-primary"><a href="#">Give Now</a></h3></li>
        </ul>
        <hr>
        <p>Looking for something specific?</p>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h6 class="text-uppercase" style="font-weight: 900;">Next Steps</h6>
            <ul class="sans-serif strong text-decoration-none list-style-none hard">
                <li><a href="/bible.html"><small>Read Your Bible</small></a></li>
                <li><a href="/connect.html"><small>Connect</small></a></li>
                <li><a href="/groups.html"><small>Groups</small></a></li>
                <li><a href="/care.html"><small>Care</small></a></li>
                <li><a href="/serving.html"><small>Serving</small></a></li>
                <li><a href="/salvation.html"><small>Salvation</small></a></li>
                <li><a href="/baptism.html"><small>Baptism</small></a></li>
                <li><a href="/missions.html"><small>Missions</small></a></li>
                <li><a href="/finances.html"><small>Finances</small></a></li>
                <li><a href="/discover-year.html"><small>Discovery Year</small></a></li>
            </ul>
          </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h6 class="text-uppercase" style="font-weight: 900;">Watch &amp; Read</h6>
            <ul class="sans-serif strong text-decoration-none list-style-none hard">
                <li><a href="/articles.html"><small>Articles</small></a></li>
                <li><a href="/sermons.html"><small>Sermons</small></a></li>
                <li><a href="/devotionals.html"><small>Devotionals</small></a></li>
                <li><a href="/news.html"><small>News</small></a></li>
                <li><a href="/stories.html"><small>Stories</small></a></li>
            </ul>
          </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h6 class="text-uppercase" style="font-weight: 900;">Ministries</h6>
            <ul class="sans-serif strong text-decoration-none list-style-none hard">
                <li><a href="/kidspring.html"><small>Kids</small></a></li>
                <li><a href="/fuse.html"><small>Students</small></a></li>
                <li><a href="/rally.html"><small>Young Adults</small></a></li>
                <li><a href="/discover-year.html"><small>Discovery Year</small></a></li>
                <li><a href="/worship.html"><small>Worship</small></a></li>
                <li><a href="/missions.html"><small>Missions</small></a></li>
                <li><a href="/network.html"><small>NewSpring Network</small></a></li>
                <li><a href="/store.html"><small>Store</small></a></li>
            </ul>
          </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h6 class="text-uppercase" style="font-weight: 900;">Giving</h6>
            <ul class="sans-serif strong text-decoration-none list-style-none hard flush">
                <li><a href="/give.html"><small>Why We Give</small></a></li>
                <li><a href="https://my.newspring.cc/give/now.html"><small>Give Now</small></a></li>
                <li><a href="https://my.newspring.cc/give/schedules.html"><small>Schedule Your Giving</small></a></li>
                <li><a href="https://my.newspring.cc/give/history.html"><small>Giving History</small></a></li>
                <li><a href="/annualreport.html"><small>Annual Report</small></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer hidden">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->