<!-- Desktop Section Nav -->
<section class="nav-wrapper bg-white rounded shadowed soft-half hidden-xs hidden-sm">
    <ul class="nav xs-nav-stacked nav-pills">
        
        {% for url, title in blockData.pages %}
            <li role="presentation" class="{% if loop.index == 1 %}active{% endif %}"><a href="{{ url }}">{{ title}}</a></li>
        {% endfor %}

    </ul>
</section>

<!-- Mobile Section Nav -->
<section class="nav-wrapper bg-white rounded shadowed soft-half hidden-md hidden-lg push-bottom xs-push-half-bottom">
    <div class="btn-group width-full">

        {% for url, title in blockData.pages %}{% if loop.index == 1 %}
            <button type="button" class="btn btn-primary dropdown-toggle width-full" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ title }} <span class="caret"></span>
            </button>
        {% endif %}{% endfor %}

        <ul class="dropdown-menu width-full">

            {% for url, title in blockData.pages %}
                <li role="presentation"><a href="{{ url }}">{{ title }}</a></li>
            {% endfor %}

        </ul>
    </div>
</section>