{#

{% set blockData = { 
    id: '',
    preTitle: '',
    titleSize: '',
    title: '',
    tags: {
		'': ''
	}
} %}{% include "partials/page-header.html" %}

#}

{% set tagCount = blockData.tags | length %}

<section class="push-half-top soft-half xs-hard-sides xs-text-center">
    <div class="container-fluid hard-sides text-white">
    	{% if blockData.preTitle %}
    		<p class="sans-serif stronger letter-spacing-condensed push-half-bottom xs-push-bottom">{{ blockData.preTitle | safe }}</p>
    	{% endif %}

		{% if blockData.title %}
        	<h1 class="{% if blockData.titleSize %}{{ blockData.titleSize }}{% else %}h2{% endif %} {% if tagCount >= 1 %}push-half-bottom xs-push-bottom{% else %}flush{% endif %}">{{ blockData.title }}</h1>
        {% endif %}
		
		
		{% if tagCount >= 1 %}
		    <p class="tag-list sans-serif flush">
		        {% for id, title in blockData.tags %}
		            <a href="#" class="label label-default">{{ title }}</a>
		        {% endfor %}
		    </p>
		{% endif %}
    </div>
</section>