<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination sans-serif strong shadowed">
        <li>
            <a href="/articles.html" aria-label="Previous">
                <span aria-hidden="true">
                    <i class="fas fa-angle-left"></i>
                </span>
            </a>
        </li>
        <li><a href="/articles.html">1</a></li>
        <li><a href="/articles.html">2</a></li>
        <li class="active"><a href="/articles.html">3</a></li>
        <li><a href="/articles.html">4</a></li>
        <li><a href="/articles.html">5</a></li>
        <li>
            <a href="/articles.html" aria-label="Next">
                <span aria-hidden="true">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>