<div id="search-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header soft">
        <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
        <h1 class="modal-title">Search</h1>
      </div>
      <div class="modal-body soft">
        <form action="">
          <input class="form-control input-lg" type="text" placeholder="What are you searching for?">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary">Search</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->