{#

{% set blockData = { 
    id: '',
    orientation: '',
	copy: '',
    linkUrl: ''
} %}{% include "partials/share-buttons.html" %}

#}

<div class="row row-condensed push-bottom">
	<div class="{% if blockData.orientation == 'vertical' %}col-md-12 col-sm-12 col-xs-12{% else %}col-md-3 col-sm-6 col-xs-12{% endif %}">
		<a href="#" class="btn btn-facebook btn-block shadowed {% if blockData.orientation == 'vertical' %}push-half-bottom{% else %}sm-push-half-bottom xs-push-half-bottom{% endif %}" title="Share on Facebook"><i class="fab fa-lg fa-facebook-f"></i></a>
	</div><div class="{% if blockData.orientation == 'vertical' %}col-md-12 col-sm-12 col-xs-12{% else %}col-md-3 col-sm-6 col-xs-12{% endif %}">
		<a href="#" class="btn btn-twitter btn-block shadowed {% if blockData.orientation == 'vertical' %}push-half-bottom{% else %}sm-push-half-bottom xs-push-half-bottom{% endif %}" title="Share on Twitter"><i class="fab fa-lg fa-twitter"></i></a>
	</div><div class="{% if blockData.orientation == 'vertical' %}col-md-12 col-sm-12 col-xs-12{% else %}col-md-3 col-sm-6 col-xs-12{% endif %}">
		<a href="#" class="btn btn-pinterest btn-block shadowed {% if blockData.orientation == 'vertical' %}push-half-bottom{% else %}xs-push-half-bottom{% endif %}" title="Share on Pinterest"><i class="fab fa-lg fa-pinterest-p"></i></a>
	</div><div class="{% if blockData.orientation == 'vertical' %}col-md-12 col-sm-12 col-xs-12{% else %}col-md-3 col-sm-6 col-xs-12{% endif %}">
		<a href="#" class="btn btn-google btn-block shadowed" title="Share on Google+"><i class="fab fa-lg fa-google-plus-g"></i></a>
	</div>
</div>