{#

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "",
    subtitle: "",
    copy: "",
    tags: {
      '': ''
    },
    imageUrl: '',
    imageOpacity: '',
    imageAlignment: '',
    linkUrl: '',
    linkText: ''
} %}{% include "partials/side-by-side.html" %}

#}

{% if blockData.id and blockData.backgroundColorHex %}
    <style>
        #block-{{ blockData.id }} {
            background-color: #{{ blockData.backgroundColorHex }};
        }

        #block-{{ blockData.id }} a:not(.btn):not(.label) {
            color: #{{ blockData.linkColorHex }};
        }

        #block-{{ blockData.id }} .btn {
            background-color: #{{ blockData.linkColorHex }};
            border-color: #{{ blockData.linkColorHex }};
        }

    </style>
{% endif %}

<section {% if blockData.id %}id="block-{{ blockData.id }}"{% endif %} class="hard position-relative overflow-hidden bg-white rounded shadowed">

    {% if blockData.imageUrl %}
        {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}">{% endif %}

            <div class="split {% if blockData.imageAlignment == 'left' %}split-left{% else %}split-right{% endif %} background-center background-cover sm-push-bottom xs-push-bottom {% if blockData.grayscale %}grayscale{% endif %}" style=" background-image: url('{{ blockData.imageUrl }}'); {% if blockData.imageOpacity %}opacity: {{ blockData.imageOpacity }};{% endif %}"
        ></div>

        {% if blockData.linkUrl %}</a>{% endif %}
    {% endif %}
    

    <div class="row {% if blockData.imageAlignment == 'left' %}text-right{% else %}text-left{% endif %} flush"><!-- Section Padding and Alignement Classes -->
        <div class="col-xs-12 col-sm-12 col-md-6 text-left hard"><!-- Text Alignment Classes -->
            <div class="bg-white soft-double soft-bottom sm-soft xs-soft sm-text-center xs-text-center">
                
                {% if blockData.label %}
                    <p><small class="label label-default sans-serif">{{ blockData.label }}</small></p>
                {% endif %}
                
                {% if blockData.title %}
                    <h2 class="block-title push-half-bottom">
                        {% if blockData.linkUrl %}<a href="{{ blockData.linkUrl }}">{% endif %}
                            {{ blockData.title }}
                        {% if blockData.linkUrl %}</a>{% endif %}
                    </h2>
                {% endif %}

                {% if blockData.subtitle %}
                    <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>{{ blockData.subtitle | safe }}</small></p>
                {% endif %}

                {% set tagCount = blockData.tags | length %}
                {% if tagCount != 0 %}
                    <p class="tag-list sans-serif">
                        {% for id, title in blockData.tags %}
                            <a href="#" class="label label-default">{{ title }}</a>
                        {% endfor %}
                    </p>
                {% endif %}
                
                <div>
                    {% set length = blockData.copy | length %}
                    {{ blockData.copy | safe | truncate(250) }}{% if length > 250 %} <a href="#" data-toggle="modal" data-target="#{{ blockData.id }}-modal">Read More</a>{% endif %}
                </div>

                {% if blockData.linkUrl %}
                    <p>
                        <a href="{{ blockData.linkUrl }}" class="btn btn-primary" role="button">{% if blockData.linkText %}{{ blockData.linkText }}{% else %}Learn More{% endif %}</a>
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% if length > 250 %}
<div class="modal fade" id="{{ blockData.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-lg fa-times"></i>
                </a>
                <h3 class="flush">{{ blockData.title }}</h3>
            </div>
            <div class="modal-body soft hard-bottom">
                {{ blockData.copy | safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}