{#

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    alignment: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: '', 
    subtitle: '',
    copy: "",
    trimCopy: '',
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: '',
    buttonIcon: ''
} %}{% include "ad-unit.html" %}

#}

{% if blockData.id %}
    <style>
        {% if blockData.backgroundColorHex %}
            #block-{{ blockData.id }}, #block-{{ blockData.id }} a:not(.btn):not(.label) {
                color: #fff;
            }

            #block-{{ blockData.id }} {
                background-color: #{{ blockData.backgroundColorHex }};
            }
        
            #block-{{ blockData.id }} blockquote, blockquote footer, blockquote small, blockquote .small {
                color: #fff;
            }
        {% endif %}

        {% if blockData.linkColorHex %}
            #block-{{ blockData.id }} a:not(.btn):not(.label) {
                color: #{{ blockData.linkColorHex }};
            }

            #block-{{ blockData.id }} .btn {
                background-color: #{{ blockData.linkColorHex }};
                border-color: #{{ blockData.linkColorHex }};
            }
        {% endif %}
    </style>
{% endif %}

<section {% if blockData.id %}id="block-{{ blockData.id }}"{% endif %} class="bg-white position-relative overflow-hidden xs-soft-half-sides xs-soft-top xs-hard-bottom xs-push-half-bottom rounded shadowed">
	
	{% if blockData.imageUrl %}
    	<span class="full-screen background-cover background-center {% if blockData.grayscale %}grayscale{% endif %}" style="background-image: url('{{ blockData.imageUrl }}'); {% if blockData.imageOpacity %}opacity: {{ blockData.imageOpacity }};{% endif %}"></span>
    {% endif %}

    <div class="bring-forward {% if blockData.alignment == 'right' %}pull-right{% elseif blockData.alignment == 'left' %}{% else %}center-block text-center{% endif %} text-constrained soft xs-soft-top xs-soft-half-sides xs-soft-bottom">
		
        {% if blockData.label %}
            <p><small class="label label-default circular sans-serif letter-spacing-condensed">{{ blockData.label }}</small></p>
        {% endif %}

		{% if blockData.title %}
        	<h2 class="{{ blockData.titleSize }} push-half-bottom">{{ blockData.title }}</h2>
        {% endif %}

        {% if blockData.subtitle %}
            <p class="sans-serif stronger text-uppercase letter-spacing-condensed text-gray-light push-half-bottom"><small>{{ blockData.subtitle | safe }}</small></p>
        {% endif %}

		<div>
            {% if blockData.trimCopy %}
                {% set length = blockData.copy | length %}
                {{ blockData.copy | safe | truncate(200) }}{% if length > 200 %} <a href="#" data-toggle="modal" data-target="#{{ blockData.id }}-modal">Read More</a>{% endif %}
            {% else %}
                {{ blockData.copy | safe }}
            {% endif %}
        </div>

		{% if blockData.linkUrl %}
	        <p class="push-half-bottom">
                {% set buttonData = { 
                    buttonSize: '',
                    buttonColor: 'btn-primary',
                    buttonIcon: blockData.buttonIcon,
                    linkUrl: blockData.linkUrl,
                    linkText: blockData.linkText
                } %}{% include "button.html" %}
	        </p>
        {% endif %}

    </div>
</section>

{% if blockData.trimCopy %}
    {% if length > 200 %}
    <div class="modal fade" id="{{ blockData.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    <h3 class="flush">{{ blockData.title }}</h3>
                </div>
                <div class="modal-body soft hard-bottom">
                    {{ blockData.copy | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}