{%- for item in Items -%}

{% assign id = item.Id %}
{% assign videoId = item | Attribute:'Video','RawValue' %}
{% assign backgroundColor = ContentChannel.BackgroundColor %}
{% assign foregroundColor = ContentChannel.ForegroundColor %}
{% assign label = item | Attribute:'Label' %}
{% assign subtitle =  item | Attribute:'Subtitle' %}
{% assign trimCopy = item | Attribute:'TrimCopy' %}
{% assign grayscale = item | Attribute:'Grayscale' %}
{% assign imageUrl = item | Attribute:'imageUrl','Url' %}
{% assign imageOpacity = item | Attribute:'ImageOpacity' | DividedBy:'100' %}
{% assign alignment = item | Attribute:'TextAlignment' %}
{% assign linkText = item | Attribute:'LinkText' %}
{% assign linkUrl = item | Attribute:'LinkUrl','RawValue' %}
{% assign lava = item | Attribute:'Lava' %}

{% if id != null and id != '' %}
    <style>
        {% if foregroundColor != null and foregroundColor != '' %}
            #block-{{ id }} a:not(.btn):not(.label) {
                color: {{ foregroundColor }};
            }

            #block-{{ id }} .btn {
                background-color: {{ foregroundColor }};
                border-color: {{ foregroundColor }};
            }
        {% endif %}

        {% if backgroundColor != null and backgroundColor != '' %}
            #block-{{ id }} {
                background-color: {{ backgroundColor }};
            }

            #block-{{ id }}, #block-{{ id }} a:not(.btn):not(.label) {
                color: #fff;
            }

            #block-{{ id }} .btn, #block-{{ id }} .label {
                background-color: #fff;
                border-color: #fff;
                color: #1c1c1c;
            }
        {% endif %}

    </style>
{% endif %}

<div {% if id != null and id != '' %}id="block-{{ id }}"{% endif %} class="panel panel-default {% if alignment != null and alignment != '' %}text-{{ alignment }}{% endif %}">

    {% if imageUrl != null and imageUrl != '' %}
        {% if linkUrl != null and linkUrl != '' %}<a href="{{ linkUrl }}" class="panel-image">{% endif %}
            {% if count != null and count != '' %}
                <span class="card-count sans-serif strong rounded bg-gray-lighter text-gray-darker text-center">{{ count }}</span>
            {% endif %}

            <img src="{{ blockData.imageUrl }}" alt="" class="{% if blockData.grayscale %}grayscale{% endif %}" style="{% if blockData.imageOpacity %}opacity: {{ blockData.imageOpacity }};{% endif %}">

            {% if type != null and type != '' %}
                <div class="label bg-gray-light text-white position-absolute bottom-zero left-zero push-left bring-forward sans-serif stronger circular" style="border: 3px solid #fff;"><small>{{ type }}</small></div>
            {% endif %}
    
        {% if linkUrl != null and linkUrl != '' %}</a>{% endif %}
    {% endif %}

    <div class="panel-body xs-soft xs-hard-bottom">

        {% if label != null and label != '' %}
            <p><small class="label bg-gray-light sans-serif circular">{{ label }}</small></p>
        {% endif %}
        
        <h2 class="{% if titleSize != null and titleSize != '' %}{{ titleSize }}{% endif %} push-half-bottom">
            {% if linkUrl != null and linkUrl != '' %}<a href="{{ linkUrl }}">{% endif %}
                {{ item.Title }}
            {% if linkUrl != null and linkUrl != '' %}</a>{% endif %}
        </h2>

        {% if subtitle != null and subtitle != '' %}
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>{{ subtitle }}</small></p>
        {% endif %}

        {% assign tagCount = tags | Size %}
        {% if tagCount > 0 %}
            <p class="tag-list sans-serif push-half-bottom">
                <small>{% for id, title in tags %}
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> {{ title }}</a>
                {% endfor %}</small>
            </p>
        {% endif %}

        {% if trimCopy != null and trimCopy != '' %}
            {% assign length = item.Content | Size %}
            {{ item.Content | Truncate:140,'...' }}{% if length > 140 %} <a href="#" data-toggle="modal" data-target="#modal-{{ id }}">read more</a>{% endif %}
        {% else %}
            {{ item.Content }}
        {% endif %}

        {% if linkUrl != null and linkUrl != '' %}
            <p>
                <a href="{{ linkUrl }}" class="btn btn-primary" role="button" data-scroll>{% if linkText != null and linkText != '' %}{{ linkText }}{% else %}Learn More{% endif %}</a>
            </p>
        {% endif %}

    </div>
</div>

{% if trimCopy != null and trimCopy != '' %}
    {% if length > 140 %}
    <div class="modal fade" id="modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    <h3 class="flush">{{ item.Title }}</h3>
                </div>
                <div class="modal-body soft hard-bottom">
                    {{ item.Content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}
{%- endfor -%}