{% if id != null and id != '' %}
    <style>
        {% if foregroundcolor != null and foregroundcolor != '' %}
            #block-{{ id }} a:not(.btn):not(.label) {
                color: {{ foregroundcolor }};
            }

            #block-{{ id }} .btn {
                background-color: {{ foregroundcolor }};
                border-color: {{ foregroundcolor }};
            }
        {% endif %}

        {% if backgroundcolor != null and backgroundcolor != '' %}
            #block-{{ id }} {
                background-color: {{ backgroundcolor }};
            }

            #block-{{ id }}, #block-{{ id }} a:not(.btn):not(.label) {
                color: #fff;
            }

            #block-{{ id }} .btn, #block-{{ id }} .label {
                background-color: #fff;
                border-color: #fff;
                color: #1c1c1c;
            }
        {% endif %}

    </style>
{% endif %}

<div {% if id != null and id != '' %}id="block-{{ id }}"{% endif %} class="panel panel-default {% if alignment != null and alignment != '' %}text-{{ alignment }}{% endif %}">

    {% if imageurl != null and imageurl != '' %}
        {% if linkurl != null and linkurl != '' %}<a href="{{ linkurl }}" class="panel-image">{% endif %}
            {% if count != null and count != '' %}
                <span class="card-count sans-serif strong rounded bg-gray-lighter text-gray-darker text-center">{{ count }}</span>
            {% endif %}

            <img src="{{ imageurl }}" alt="" class="{% if grayscale %}grayscale{% endif %}" style="{% if imageopacity %}opacity: {{ imageopacity }};{% endif %}">

            {% if type != null and type != '' %}
                <div class="label bg-gray-light text-white position-absolute bottom-zero left-zero push-left bring-forward sans-serif stronger circular" style="border: 3px solid #fff;"><small>{{ type }}</small></div>
            {% endif %}
    
        {% if linkurl != null and linkurl != '' %}</a>{% endif %}
    {% endif %}

    <div class="panel-body xs-soft xs-hard-bottom">

        {% if label != null and label != '' %}
            <p><small class="label bg-gray-light sans-serif circular">{{ label }}</small></p>
        {% endif %}
        
        {% if title != null and title != '' %}
        <h2 class="{% if titlesize != null and titlesize != '' %}{{ titlesize }}{% endif %} push-half-bottom">
            {% if linkurl != null and linkurl != '' %}<a href="{{ linkurl }}">{% endif %}
                {{ title }}
            {% if linkurl != null and linkurl != '' %}</a>{% endif %}
        </h2>
        {% endif %}

        {% if subtitle != null and subtitle != '' %}
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>{{ subtitle }}</small></p>
        {% endif %}

        {% assign tagCount = tags | Size %}
        {% if tagCount > 0 %}
            <p class="tag-list sans-serif push-half-bottom">
                <small>{% for id, title in tags %}
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> {{ title }}</a>
                {% endfor %}</small>
            </p>
        {% endif %}

        {% if content != null and content != '' %}
            {% if trimcopy != null and trimcopy != '' %}
                {% assign length = content | Size %}
                {{ content | Truncate:140,'...' }}{% if length > 140 %} <a href="#" data-toggle="modal" data-target="#modal-{{ id }}">read more</a>{% endif %}
            {% else %}
                {{ content }}
            {% endif %}
        {% endif %}

        {% if linkurl != null and linkurl != '' %}
            <p>
                <a href="{{ linkurl }}" class="btn btn-primary" role="button" data-scroll>{% if linktext != null and linktext != '' %}{{ linktext }}{% else %}Learn More{% endif %}</a>
            </p>
        {% endif %}

    </div>
</div>

{% if trimcopy != null and trimcopy != '' %}
    {% if length > 140 %}
    <div class="modal fade" id="modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    {% if title != null and title != '' %}
                        <h3 class="flush">{{ title }}</h3>
                    {% endif %}
                </div>
                <div class="modal-body soft hard-bottom">
                    {{ content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}