{%- for item in Items -%}
<!--
    <pre>{{ ContentChannel | ToJSON }}</pre>
-->
{% assign id = item.Id %}
{% assign ratio = item | Attribute:'Ratio','RawValue' %}
{% assign videoId = item | Attribute:'Video','RawValue' %}
{% assign backgroundColor = ContentChannel.BackgroundColor %}
{% assign foregroundColor = ContentChannel.ForegroundColor %}
{% assign imageOpacity = item | Attribute:'ImageOpacity' | DividedBy:'100' %}
{% assign grayscale = item | Attribute:'Grayscale' %}

{% assign imageUrl = '' %}
{% assign imageOverlayUrl = '' %}
{% assign backgroundVideoUrl = '' %}
{% assign linkText = item | Attribute:'LinkText' %}
{% assign linkUrl = item | Attribute:'LinkUrl','RawValue' %}

<!--<pre>{{ item | ToJSON }}</pre>-->


<section {% if id %}id="block-{{ id }}"{% endif %} class="
shell
hero
bg-gray-dark
position-relative 
rounded 
shadowed 
text-white 
push-bottom
xs-push-half-bottom
bring-forward
{% if ratio != null and ratio != '' %}
    ratio-{{ ratio }} hard
{% endif %} flush-sides" style="{% if backgroundColor %}background-color: {{ backgroundColor }};{% endif %}">

    {% if backgroundVideoUrl != null and backgroundVideoUrl != '' %}

        <!-- Background Video -->
        <video class="video display-block full-screen width-full rounded hidden-xs hidden-sm {% if grayscale == 'Yes' %}grayscale{% endif %}" style="object-fit: cover; min-width: 100%; min-height: 100%; height: 100%; opacity: {{ imageOpacity }};" width="1280" height="720" loop="" autoplay="">
            <source src="{{ backgroundVideoUrl }}.mp4" type="video/mp4">
            <source src="{{ backgroundVideoUrl }}.webm" type="video/webm">
        </video>

    {% endif %}
    
    <!-- Background Image -->
    {% if imageUrl != null and imageUrl != '' %}
        <span class="{% if mobileImageUrl %}hidden-sm hidden-xs{% endif %} full-screen background-cover background-center rounded {% if backgroundVideoUrl %}hidden-md hidden-lg{% endif %} {% if grayscale == 'Yes' %}grayscale{% endif %}" style="background-image: url('{{ imageUrl }}'); {% if imageOpacity %}opacity: {{ imageOpacity }};{% endif %}"></span>
    {% endif %}

    {% if mobileImageUrl != null and mobileImageUrl != '' %}
        <span class="hidden-md hidden-lg full-screen background-cover background-center rounded {% if backgroundVideoUrl %}hidden-md hidden-lg{% endif %} {% if grayscale == 'Yes' %}grayscale{% endif %}" style="background-image: url('{{ mobileImageUrl }}'); {% if imageOpacity %}opacity: {{ imageOpacity }};{% endif %}"></span>
    {% endif %}

    <div class="bring-forward center-block text-constrained text-center soft-top push-half-top xs-flush-top xs-soft-top">

        {% if imageOverlayUrl != null and imageOverlayUrl != '' %}
            <img src="{{ imageOverlayUrl }}" alt="" class="position-relative push-bottom" style="width: 70%; max-width: 250px;">
        {% endif %}


        {% if item.Title != null and item.Title != '' %}
            <h1>{{ item.Title }}</h1>
        {% endif %}

        {{ item.Content }}

        {% if linkUrl != null and linkUrl != '' %}
            <p>
                <a href="{{ linkUrl }}" class="btn btn-primary" role="button" data-scroll>{% if linkText != null and linkText != '' %}{{ linkText }}{% else %}Learn More{% endif %}</a>
            </p>
        {% endif %}

        {{ item.HTML }}

        {% if videoId != null and videoId != '' %}
            <span class="wistia_embed wistia_async_{{ videoId }} popover=true popoverContent=link clickable text-center" style="display:inline; position:relative">
                <a href="#" class="btn btn-primary">Watch Video <i class="fas fa-xs fa-play"></i></a>
            </span>

            <script src="https://fast.wistia.com/embed/medias/{{ videoId }}.jsonp" async></script>
            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        {% endif %}

    </div>

</section>
{%- endfor -%}