{% extends "full-width.html" %}

{% block content %}

    <section class="soft bg-white shadowed">
        <div class="soft">
        	<div class="row">
        		<div class="col-md-12">
        			<span class="text-center">
    	    			<p><img src="https://rock.newspring.cc/GetImage.ashx?id=523137" alt="" class="img-circle" style="max-width: 140px;"></p>
    	    			<h1>Hello, Brian!</h1>
        			</span>
        			<ul class="nav nav-pills">
    					<li role="presentation" class="active"><a href="#">My Account</a></li>
    					<li role="presentation"><a href="#">My Groups</a></li>
    					<li role="presentation"><a href="#">My Giving</a></li>
    				</ul>
        		</div>
        	</div>
        </div>
    </section>

    {% include "partials/footer.html" %}

{% endblock %}