{% extends "split.html" %}

{% block hero %}
    
{% endblock %}

{% block content %}

    <!-- {% include "partials/section-nav.html" %} -->


    <h1>Three things you need to know about speaking in tongues</h1>

    <p class="lead"><i>The last in a six-part series on gifts of the Holy Spirit</i></p>

    <p><a href="#" class="label label-secondary">spiritual gifts</a> <a href="#" class="label label-secondary">holy spirit</a> <a href="#" class="label label-secondary">prayer</a></p>
    
    <p><b><i class="fas fa-user-circle"></i> Ashley Dannelly <span class="pull-right">April 8, 2018</span></b></p>

    <hr>

    <p><b>The spiritual gift of speaking in tongues</b> is largely-debated among believers. Some wonder whether speaking in tongues is an archaic gift — one that existed when Jesus walked the earth and died out shortly thereafter.</p>

    <p>Others believe the gift of tongues is a spiritual gift still bestowed upon Christians today. But even within that group, people misunderstand the purpose and function of this particular gift of the <a href="https://newspring.cc/articles/what-is-the-holy-spirit-and-why-does-it-matter-to-me" target="_blank">Holy Spirit</a>. They see the gift of tongues as odd, if not downright intimidating.</p>

    <p>But the gift of speaking in tongues shows up in multiple places in the New Testament, and examining these passages leads to a better understanding of its overall intention.</p>

    <h3>What is Speaking in Tongues?</h3>

    <p>Speaking in tongues is when an individual speaks a language that he or she does not know. These tongues can include human languages with which the speaker is unfamiliar (<a class="scripturizer" target="_blank" href="http://www.bible.com/bible/Acts.2.8-11.niv" title="You Version">Acts 2:8-11</a>) or non-human, holy languages with which no person is familiar (<a class="scripturizer" target="_blank" href="http://www.bible.com/bible/1co.14.2.niv" title="You Version">1 Corinthians 14:2</a>).</p>

    <p>The ability to speak in tongues is one of many potential spiritual gifts given to Christians by the Holy Spirit (<a class="scripturizer" target="_blank" href="http://www.bible.com/bible/1co.12.4-11.niv" title="You Version">1 Corinthians 12:4-11</a>). Every Christian is given one or more <a href="https://newspring.cc/articles/what-are-spiritual-gifts-and-how-can-i-use-them" target="_blank">spiritual gifts</a>. Speaking in tongues — like any other spiritual gift — is not guaranteed to any believer, nor is it necessary for salvation.</p>

    <p>Equally as important as speaking in tongues is <a href="https://newspring.cc/studies/1-corinthians-a-35-day-devotional/does-structure-limit-the-holy-spirit" target="_blank">the ability to interpret tongues</a> (<a class="scripturizer" target="_blank" href="http://www.bible.com/bible/1co.12.10.niv" title="You Version">1 Corinthians 12:10</a>). Speaking in tongues would be useless without the ability to interpret and proclaim what the utterances mean. Therefore, a believer should not speak in tongues in a group setting without having someone present who is able to interpret (<a class="scripturizer" target="_blank" href="http://www.bible.com/bible/1co.14.27-28.niv" title="You Version">1 Corinthians 14:27-28</a>).</p>

    <h3>Three Things We Know about Speaking in Tongues</h3>

    <p>Though there is much that can be debated about the gift of speaking in tongues, the Bible makes a few things perfectly clear:</p>

    <h4>1. Speaking in tongues is evidence of the power and abilities of the Holy Spirit.</h4>

    <p>We all know how difficult it is to learn a language. Yet the Holy Spirit is able to supernaturally bestow the knowledge of language upon believers in an instant.</p>

    <h4>2. Speaking in and interpreting tongues are by nature gifts of teamwork and unity.</h4>

    <p>These gifts require that Christians work alongside one another to proclaim the words of God through the Spirit of God. This is in line with all that the Bible teaches us about God: He desires unity in the midst of a divisive world (<a class="scripturizer" target="_blank" href="http://www.bible.com/bible/John.17.20-21.niv" title="You Version">John 17:20-21</a>).</p>

    <h4>3. The gift of tongues is a way to bring glory to God and bring believers closer together.</h4>

    <p>Rather than being primarily evangelistic in nature, the gift of speaking in tongues is a way to give God the glory while bringing believers closer together (<a class="scripturizer" target="_blank" href="http://www.bible.com/bible/Acts.2.11.niv" title="You Version">Acts 2:11</a>, <a class="scripturizer" target="_blank" href="http://www.bible.com/bible/Acts.10.46.niv" title="You Version">Acts 10:46</a>). Isn’t it wonderful that the Holy Spirit gives us such special gifts in order to praise God for all the wonderful things He has done?</p>

    <p>The gift of speaking in tongues, like every spiritual gift, is miraculous. It is impossible without God’s power, it is uncommon in the world around us, and it is a way for Christians to praise the Lord and grow in unity with one another.</p>

    <p><em>Not sure what your spiritual gifts are? Take <a href="http://www.newspring.cc/gifts" target="_blank">this test</a> then ask a godly friend or mentor whether the result line up with what they see in you.</em></p>

{% endblock %}

{% block related %}
    <div class="container-fluid hard">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                {% set cardData = { 
                    id: '',
                    brandHex: '',
                    type: 'Articles',
                    typeIcon: 'fa fa-file-alt',
                    titleSize: 'h3',
                    title: "Four questions to ask when you want to make the right decision",
                    copy: "<p>We’ve all heard of buyer’s remorse — that feeling you get when you purchase something and later regret…</p>",
                    tags: '',
                    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring.blog.hero.forkinwoods_3310_1655_90_c1.jpg',
                    imageAlignment: 'left',
                    linkUrl: '/article-entry.html',
                    linkText: 'Read More'
                } %}{% include "partials/card-side-by-side.html" %}

                

            </div><div class="col-sm-12 col-md-12">

                {% set cardData = { 
                    id: '',
                    brandHex: '',
                    type: 'Articles',
                    typeIcon: 'fa fa-file-alt',
                    titleSize: 'h3',
                    title: "What is stopping you from sharing your faith?",
                    copy: "<p>Recently, my husband was discussing why he believes the Bible with his sister. She is not a Christian and asked many hard questions.</p>",
                    tags: '',
                    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/2x1.faith.gospel.evangelism_2000_1000_90_c1.jpg',
                    imageAlignment: 'left',
                    linkUrl: '/article-entry.html',
                    linkText: 'Read More'
                } %}{% include "partials/card-side-by-side.html" %}

            </div>
        </div>
    </div>
{% endblock %}