{% extends "full-width.html" %}

{% block content %}

    <section class="soft xs-hard">
        <div class="container-fluid hard">
            <h1 class="push-half-bottom">Articles</h1>
            
            {% include "partials/section-nav.html" %}

            <hr>
        </div>
    
        <div class="container-fluid hard">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'What is stopping you from sharing your faith?', 
                        copy: "<p>Recently, my husband was discussing why he believes the Bible with his sister. She is not a Christian and asked many hard questions.</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/2x1.faith.gospel.evangelism_1700_850_90_c1.jpg',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'Three things you need to know about speaking in tongues', 
                        copy: "<p>The spiritual gift of speaking in tongues is largely-debated among believers. Some wonder whether speaking in tongues is an archaic gift — one that existed when Jesus walked the earth and died out shortly thereafter.</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-three-things-you-need-to-know-about-speaking-in-tongues_1700_850_90_c1.jpg',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    
                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'Four questions to ask when you want to make the right decision', 
                        copy: "<p>We’ve all heard of buyer’s remorse — that feeling you get when you purchase something and later regret it. Most of us have experienced it at some point, perhaps after the purchase of a new shirt, a TV, or even a car.</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring.blog.hero.forkinwoods_1700_850_90_c1.jpg',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'What are spiritual gifts?', 
                        copy: "<p>What do you have to offer? I love the story of the little boy who shared his five loaves and two fish with Jesus. John 6 tells us Jesus took the boy’s meal and fed thousands of people with it.</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring.blog.hero.sun.field_2000_1000_90_c1.jpg',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'What to remember when you open a college rejection letter', 
                        copy: "<p>Recently, my husband was discussing why he believes the Bible with his sister. She is not a Christian and asked many hard questions.</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/newspring.blog.hero.mailboxes.png',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'How listening to the Holy Spirit helps you navigate life’s obstacles', 
                        copy: "<p>High above the stadium, someone watches cars zip around the racetrack. Each NASCAR team has a spotter, who acts as the</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/race-81859_2000_1000_90_c1.jpg',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'What happens when Christians stop living scared', 
                        copy: "<p>We’ve all heard of buyer’s remorse — that feeling you get when you purchase something and later regret it. Most of us have experienced it at some point, perhaps after the purchase of a new shirt, a TV, or even a car.</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/2x1.faith.gospel.evangelism_1700_850_90_c1.jpg',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                    {% set cardData = { 
                        type: 'Articles',
                        typeIcon: 'fas fa-fw fa-file-alt',
                        title: 'Divorced? 4 promises God wants you to embrace', 
                        copy: "<p>There was a season when I couldn’t walk in to a room without feeling like every eye was on me. I was the Christian...</p>", 
                        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-three-things-you-need-to-know-about-speaking-in-tongues_1700_850_90_c1.jpg',
                        linkUrl: '/article-entry.html',
                        linkText: ''
                    } %}{% include "partials/card.html" %}

                </div>
            </div>

            {% include "partials/pagination.html" %}

        </div>
    </section>

    <!-- Full Width Ad -->
    <section class="rounded bg-gray-darker flush">
        <div class="bring-forward center-block text-constrained text-center soft-double">
            <h2 class="text-white">Get Notifications</h2>
            <p class="text-white">Subscribe to the <b>Articles</b> feed to be notified of new posts.</p>
            <p><a href="#" class="btn btn-primary">Subscribe Now</a></p>
        </div>
    </section>

    <section>
        <div class="text-constrained center-block text-center">
            <h2>What Can We Help You Find?</h2>
            <p>Are you looking for <a href="#">Need to Know</a>, <a href="#">Rally</a>, <a href="#">Fuse</a>, or <a href="#">KidSpring</a>?</p>
            <p><a href="#" class="btn btn-primary">Search <i class="fas fa-search"></i></a></p>
        </div>
    </section>

    {% include "partials/footer.html" %}

{% endblock %}