{% set pageTitle = "Giving" %}
{% set pageBackgroundColor = "" %}
{% set pageForegroundColor = "" %}

{% extends "full-width.html" %}

{% block content %}
<div class="shape-brand bg-primary overflow-hidden" style="transform: rotate(0deg);">
    <video class="video" style="display: block; position: absolute; object-fit: cover; min-width: 100%; min-height: 100%; width: 100%; height: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 1;" width="1280" height="720" loop="" autoplay="">
        <source src="//s3.amazonaws.com/ns.images/newspring/fpo/HomepageVideo_ForExport_V3-Web_Hero_2_000kbps.mp4" type="video/mp4">
        <source src="//s3.amazonaws.com/ns.images/newspring/fpo/HomepageVideo_ForExport_V3-Web_Hero_2_000kbps.webm" type="video/webm">
    </video>
</div>
{% endblock %}