{% set pageBackgroundColor = "6c4480" %}
{% set pageForegroundColor = "46b784" %}

{% extends "full-width.html" %}

{% block content %}
    
    {% set navigationData = {
        pages: {
          '/kidspring.html': 'About Fuse',
          '/locations.html': 'Locations',
          '/fuse-groups.html': 'Fuse Groups',
          '/watch-and-read.html': 'Watch & Read'
        }
    } %}{% include "partials/navigation-section.html" %}

    {% set heroData = { 
        title: '',
        copy: "<p>Fuse exists to show students how to love God and live the life He has for them.</p>",
        grayscale: '',
        imageOverlayUrl: '//dg0ddngxdz549.cloudfront.net/fuse/icons/fuse.logo.white.png',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/fuse/about/fuse_groups_stock_web-26.jpg',
        backgroundVideoUrl: '//ns.video.s3.amazonaws.com/fuse/promotions/Fuse_Generic_hero_video_v3_copy',
        backgroundOpacity: '.2',
        textColorClass: 'text-white',
        backgroundColorHex: '',
        linkUrl: '',
        linkText: '',
        linkClasses: '',
        videoId: 'mr4jl09jbd'
    } %}{% include "partials/hero.html" %}

    <section class="bg-white rounded shadowed">
        <div class="text-constrained center-block text-center">

            <h2>What is Fuse?</h2>
            <p>Fuse is the student ministry of NewSpring Church. At Fuse, middle and high school students hear the Gospel and have a whole lot of fun. Fuse is a place where students connect with God, with other students, and with older committed leaders who want to help them follow Jesus.</p>

        </div>
    </section>

    <section class="bg-page-background rounded shadowed">
        <div class="center-block text-constrained">
            <div class="text-white text-center">
                <h2>Frequently Asked Questions</h2>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                {% set accordionPanelData = {
                    index: "1",
                    title: "Who can attend Fuse?", 
                    copy: "<p>Fuse is for students in sixth to 12th grade.</p>"
                } %}{% include "partials/accordion-panel.html" %}

                {% set accordionPanelData = { 
                    index: "2",
                    title: "When does Fuse meet?", 
                    copy: "<p>Fuse meets every Wednesday night at campuses across South Carolina. Find a <a href='http://newspringfuse.com/locations'>gathering time</a> and location near you.</p>"
                } %}{% include "partials/accordion-panel.html" %}

                {% set accordionPanelData = { 
                    index: "3",
                    title: "Do Fuse volunteers have a background check?", 
                    copy: "<p>All Fuse volunteers must have an approved background check before serving at Fuse.</p>"
                } %}{% include "partials/accordion-panel.html" %}

                {% set accordionPanelData = { 
                    index: "4",
                    title: "What can my child expect to do at Fuse?", 
                    copy: "<p>Doors open half hour to an hour before the service starts. This gives students an opportunity to connect with friends and Fuse leaders, usually over a snack or a game. Then, we all head into service. Every service includes singing and a sermon — think Sunday but louder and with more energy.</p>"
                } %}{% include "partials/accordion-panel.html" %}

                {% set accordionPanelData = { 
                    index: "5",
                    title: "Do you have to be a Christian to attend?", 
                    copy: "<p>Fuse welcomes everyone. We unashamedly preach and teach the Gospel, but we try hard to create an environment where everyone can belong at Fuse.</p>"
                } %}{% include "partials/accordion-panel.html" %}

                {% set accordionPanelData = { 
                    index: "6",
                    title: "Who is teaching my child?", 
                    copy: "<p>Fuse messages come from a team of skilled communicators. Each week, your child will clearly hear what it means to follow Jesus. Watch some of our past messages <a href='#'>here.</a></p>"
                } %}{% include "partials/accordion-panel.html" %}
                
            </div>

        </div>
    </section>


    {% include "partials/footer.html" %}

{% endblock %}