{% extends "full-width.html" %}

{% block content %}
	
	{#

    {% set heroData = { 
        title: 'We Truly Believe You Cant Outgive God', 
        copy: 'The Bible says in Matthew 6:24 that the top competitor for our commitment to Jesus is money. Giving allows us to demonstrate that He is more important to us than material things. Not having cash or check on hand doesn’t have to hold you back from giving. You can be obedient today by giving online. There is no organization with more potential to change the world than the local church!', 
        buttonUrl: '/give.html',
        buttonText: 'Give Now',
        buttonClasses: 'btn btn-primary',
        image: 'https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/baptism/2x1.hero_1700_850_90_c1.jpg'
    } %}
    {% include "partials/hero.html" %}

    #}

	<section>
		<div class="center-block text-center text-constrained">
			<h1>We Truly Believe You Can't Outgive God</h1>
			<p>The Bible says in <a href="http://www.bible.com/bible/Matthew.6.24.niv">Matthew 6:24</a> that the top competitor for our commitment to Jesus is money. Giving allows us to demonstrate that He is more important to us than material things. Not having cash or check on hand doesn’t have to hold you back from giving. You can be obedient today by giving online. There is no organization with more potential to change the world than the local church!</p>
			<p>If you experience technical difficulty with your account, email <a href="#">web.helpdesk@newspring.cc</a> and we will be in touch soon.</p>
			<a href="https://my.newspring.cc/give/now" class="btn btn-lg btn-primary">Give Now</a>
		</div>
	</section>

{% endblock %}