{% extends "full-width.html" %}

{% block content %}

	{% set heroData = { 
        title: 'How Can We Help?',
        copy: "<p>We want you to enjoy your online experience. If something is not working as expected, we would love to help.</p>",
        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/2x1.computer_(2)_1700_850_90_c1.jpg',
        backgroundVideoUrl: '',
        backgroundOpacity: '.5',
        textColorClass: 'text-white',
        backgroundColorClass: '',
        linkUrl: '/help.html',
        linkText: 'Request Help',
        linkClasses: ''
    } %}{% include "partials/hero.html" %}

    {% include "partials/footer.html" %}

{% endblock %}