{% extends "layout.html" %}

{% block content %}

    {% set heroData = { 
        title: 'How Can We Help?', 
        copy: 'We want you to enjoy your online experience. If something is not working as expected, we would love to help.', 
        buttonUrl: '/help.html',
        buttonText: 'Request Help',
        buttonClasses: 'btn btn-primary',
        image: 'https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/2x1.computer_(2)_1700_850_90_c1.jpg'
    } %}
    
    {% include "partials/hero.html" %}

{% endblock %}