{% extends "layout.html" %}

{% block content %}

{% set heroData = { 
    title: 'Welcome to NewSpring', 
    copy: '', 
    buttonUrl: '/.html',
    buttonText: 'Find a Location',
    buttonClasses: 'btn btn-primary',
    bgOpacity: '1',
    bgImage: 'https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/homepage/homepage_update2x1__1700_850_90_c1.jpg',
    bgVideo: '//s3.amazonaws.com/ns.images/newspring/fpo/HomepageVideo_ForExport_V3-Web_Hero_2_000kbps'
} %}
    
{% include "partials/hero.html" %}

{% endblock %}