{% extends "full-width.html" %}

{% set pageHeaderColorHex = "6bac43" %}

{% block content %}

	{% set blockData = { 
        title: 'Welcome to NewSpring', 
        copy: "<p>NewSpring Church exists to connect people to Jesus and each other.</p><form class='form-inline'><div class='form-group'><input type='text' class='form-control form-control-static sans-serif strong push-half-bottom text-center no-border' placeholder='Enter Your Address'> <button type='submit' class='form-control form-control-static btn btn-primary push-half-bottom'>Find a Location</button></div></form><p>or <a href='/sermons.html' class='text-white'>watch past sermons.</a></p>",
        grayscale: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/homepage/hero_1x1.gif',
        backgroundVideoUrl: '//s3.amazonaws.com/ns.images/newspring/fpo/HomepageVideo_ForExport_V3-Web_Hero_2_000kbps',
        imageOpacity: '.6',
        linkUrl: '',
        linkText: '',
        linkClasses: ''
    } %}{% include "partials/hero.html" %}

    {% set blockData = { 
        id: '5',
        title: "See You at Gauntlet",
        titleSize: 'h2',
        copy: "<p>Here's how you can get involved!</p><p><b>Go.</b> If you're in middle or high school, sign up today and invite your friends.</p><p><b>Give.</b> Help students go to Gauntlet by giving to the Gauntlet Fund.</p><p><b>Serve.</b> Invest in the next generation and experience the miracles first hand.</p>",
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/remote/http_images.newspring.cc/section/worship/app1024x10240000.gauntlet18.png',
        imageAlignment: 'left',
        linkUrl: 'http://gauntlet.cc',
        linkText: ''
    } %}{% include "partials/side-by-side.html" %}

    {% set blockData = { 
        id: '3',
        title: "Israel Trip 2018",
        titleSize: 'h2',
        copy: "<p>Reading about Jesus’ life and ministry changes us. Seeing where Jesus lived and did ministry changes how we see Him.</p><p>During this trip, we’ll visit Bethlehem, travel the Sea of Galilee, and spend time in Capernaum, the home base for Jesus’ ministry. We’ll also explore Jerusalem and take communion at the empty tomb.</p>",
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/Israel/jerusalem.2x1.jpg',
        imageAlignment: 'right',
        linkUrl: '/israel.html',
        linkText: ''
    } %}{% include "partials/side-by-side.html" %}


    {% include "partials/footer.html" %}
    
{% endblock %}