{% extends "layout.html" %}

{% block content %}

    {% set heroData = { 
        title: 'Find a Location', 
        copy: 'NewSpring is one church with 14 campuses across South Carolina. Find the location closest to you and plan a visit.', 
        buttonUrl: '/locations.html',
        buttonText: 'Find a Location',
        buttonClasses: 'btn btn-primary',
        image: 'https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/_fpo/fpo.Parking_1700_850_90_c1.jpg'
    } %}
    
    {% include "partials/hero.html" %}

    <section>
        <div class="text-center">
            <h2>Find a Campus Near You</h2>
            <p class="lead text-primary"><i>Swipe to discover more.</i></p>
        </div>
        
        <div class="slider-wrapper" data-slider>
            <div class="slider">
                <div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Aiken</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Anderson</h4>
                            <p>Sunday at 9:15am, 11:15am & 5pm</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Charleston</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Clemson</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Columbia</h4>
                            <p>Sunday at 9:15am, 11:15am & 5pm</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Florence</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Greenville</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Greenwood</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Hilton Head</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Myrtle Beach</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Northeast Columbia</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Powdersville</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div><div class="slider-item">
                    <div class="panel panel-default shadowed">
                        <div class="panel-body hard-bottom">
                            <h4>Rock Hill</h4>
                            <p>Sunday at 9:15am & 11:15am</p>
                            <p><a href="#">Get Directions</a></p>
                            <p><a href="#" class="btn btn-sm btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <script>
        // Get all sliders on page
        var sliders = document.querySelectorAll('[data-slider]');

        // Loop through them and adjust container width
        sliders.forEach(function(element) {

            // Set slider element
            var slider = element.children[0];

            // Calculate count of slider child elements
            var sliderItemCount = slider.children.length;

            // Calculate slider width
            var sliderWrapperWidth = sliderItemCount * 330 - 30;

            // Adjust slider width
            slider.style.width = sliderWrapperWidth + "px";

        });
    </script>

{% endblock %}