{% extends "full-width.html" %}

{% block content %}

    <section class="soft soft-double-ends bg-white rounded shadowed">
        <div class="soft xs-soft-half">
			<span class="text-center">
    			<p><img src="https://rock.newspring.cc/GetImage.ashx?id=523137" alt="" class="img-circle" style="max-width: 140px;"></p>
    			<h1>Hello, Brian.</h1>
			</span>

            <!-- <div class="alert alert-warning" role="alert">
                <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
                One or more of the payment methods you have previously saved is going to expire shortly. Please review and update your payment methods to prevent any interruption of your giving.
            </div> -->

            <hr>

            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <ul class="nav nav-pills nav-stacked push-bottom">
                        <li role="presentation" class="active"><a href="#">My Account</a></li>
                        <li role="presentation"><a href="#">My Groups</a></li>
                        <li role="presentation"><a href="#">My Training</a></li>
                        <li role="presentation"><a href="#">My Giving</a></li>
                    </ul>  
                </div><div class="col-xs-12 col-md-9">
                    <h3>Ea cupidatat incididunt deserunt culpa</h3>
                    <p>Reprehenderit nostrud in cillum amet aliquip et do non consectetur qui duis pariatur est ut dolore reprehenderit quis cillum mollit voluptate ut eu consequat do aliqua consequat elit nulla nulla aute.</p>
                </div>
            </div>

        </div>
    </section>

    {% include "partials/footer.html" %}

{% endblock %}