{% set browserTitle = "My Account" %}
{% set pageTitle = "My Account" %}
{% set pageHeaderColorHex = "1C683E" %}

{% set navPages = {
    pages: {
      'My Account': '/my-account.html',
      'My Groups': '/my-groups.html',
      'My Training': '/my-training.html',
      'My Giving': '/my-giving.html'
    }
} %}

{% extends "full-width.html" %}

{% block content %}
    
    <section class="bg-white rounded shadowed">
        
		<span class="text-center">
			<p class="push-half-bottom"><img src="{{ userImage }}" alt="" class="img-circle" style="max-width: 140px;"></p>
      <p class="push-half-bottom text-center"><span class="label label-primary sans-serif">{{ userCampus }}</span></p>
			<h1>Hello, {{ userFirstName }}.</h1>
		</span>

        <hr class="push-ends">

        <div class="row">
          <div class="col-md-6">
            <label for="" class="sans-serif text-uppercase text-gray-lighter">
              <small>First Name</small>
            </label>
            <h2 class="h4">{{ userFirstName }}</h2>
          </div><div class="col-md-6">
            <label for="" class="sans-serif text-uppercase text-gray-lighter">
              <small>Last Name</small>
            </label>
            <h2 class="h4">{{ userLastName }}</h2>
          </div><div class="col-xs-12 col-md-6">
            <label for="" class="sans-serif text-uppercase text-gray-lighter">
              <small>Email</small>
            </label>
            <p>{{ userEmail }}</p>
          </div><div class="col-xs-12 col-md-6">
            <label for="" class="sans-serif text-uppercase text-gray-lighter">
              <small>Phone</small>
            </label>
            <p>{{ userPhone }}</p>
          </div>
        </div>

    </section>

{% endblock %}