{% set browserTitle = "Rally" %}
{% set pageTitle = "" %}
{% set pageHeaderColorHex = "D45F18" %}

{% set navPages = {
    pages: {
      'About Rally': '/rally.html',
      'Locations': '/locations.html',
      'Rally Groups': '/rally-groups.html'
    }
} %}

{% extends "full-width.html" %}

{% block content %}

    {% set blockData = { 
        title: '',
        copy: "<p>We exist to rally a generation around Jesus and each other.<br>If you are 18 to 25, Rally is for you.</p>",
        grayscale: '',
        imageOverlayUrl: '//dg0ddngxdz549.cloudfront.net/newspring/Rally/rally.logo.white.png',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/Rally/Rally5_2x1_.jpg',
        backgroundVideoUrl: '//ns.video.s3.amazonaws.com/newspring/promotions/Rally/3645_CEN_RAL_RALLYHeroVid_ForExport_h264_v4',
        imageOpacity: '.6',
        linkUrl: '',
        linkText: '',
        linkClasses: '',
        videoId: '7oqie6rx26'
    } %}{% include "partials/hero.html" %}

    {% set blockData = { 
        id: '1',
        primaryColorHex: '',
        title: "Let's Rally Again!",
        titleSize: '',
        copy: "<p class='lead'><b>Aug. 7<br>6pm<br>Free Food</b></p><p>NewSpring Anderson<br>2940 Concord Rd<br>Anderson, SC 29621</p>",
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/Rally/RallyAgainPic_Square_1080_1080_90.jpg',
        imageAlignment: 'left',
        linkUrl: '#',
        linkText: 'Get Directions'
    } %}{% include "partials/side-by-side.html" %}

    {% set blockData = { 
        id: '2',
        primaryColorHex: '',
        title: "Lead a Rally Group",
        titleSize: '',
        copy: "<p>Officia do ad consequat amet nisi sint culpa sunt elit id dolore amet do voluptate quis.</p>",
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/Rally/Rally6_2x1_.jpg',
        imageAlignment: 'right',
        linkUrl: '#',
        linkText: ''
    } %}{% include "partials/side-by-side.html" %}

{% endblock %}