{% set pageTitle = "Slaying Giants | Sermons" %}

{% set pageHeaderColorHex = "5C1998" %}

{% extends "full-width.html" %}

{% set sermons = [
	{
		"id": "1",
		"title": "Fear vs. Faith",
		"subtitle": "Oct 1, 2017 • Dan Lian",
		"copy": "<p>When God’s people reached the Promised Land, it was full of abundance. It was also full of giants. The same is true for us. God has called us into abundance, but there are giants standing in our way. Don't allow these giants to steal one ounce of joy or hope from you. Know who they are and get ready to attack.</p>",
		"tags": {
	      "1": "bitterness",
	      "2": "greed",
	      "3": "promises",
	      "4": "anxiety"
	    }
	},
	{
		"id": "2",
		"title": "Generosity vs. Greed",
		"subtitle": "Oct 8, 2017 • Clayton King",
		"copy": "<p>We all know greed is a problem — we just think it’s a problem for other people. Greed is sneaky like that. Don't let greed grab a hold of you. Learn to see greed for what it is, slay its hold on your life, and stay free from greed for good.</p>",
		"tags": {
	      "1": "greed",
	      "2": "generosity",
	      "3": "money"
	    }
	},
	{
		"id": "3",
		"title": "Unforgiveness vs. Freedom",
		"subtitle": "Oct 15, 2017 • Brad Cooper",
		"copy": "<p>When someone hurts you, do you pretend it never happened or silently plot your revenge? Maybe you hold a grudge 'to teach 'em a lesson.'</p>",
		"tags": {
	      "1": "jealousy",
	      "2": "bitterness",
	      "3": "forgiveness"
	    }
	},
	{
		"id": "4",
		"title": "Comparison vs. Contentment",
		"subtitle": "Oct 22, 2017 • Stacey Tarrant",
		"copy": "<p>Ever felt like someone else was living the life you were meant to have? That’s what comparison does. It convinces us that God plus something else — a spouse, a child, a house, a promotion — will be enough. Don't let comparison stop you from enjoying the life God has for you.</p>",
		"tags": {
	      "1": "comparison",
	      "2": "jealousy",
	      "3": "identity"
	    }
	},
	{
		"id": "5",
		"title": "Anxiety vs. Gratitude",
		"subtitle": "Oct 29, 2017 • Lee McDerment",
		"copy": "<p>Anxiety attacks everyone. When we go through difficult or stressful situations, our bodies remember and fear alerts us when danger presents itself again. Anxiety doesn’t mean we’re bad people or that we’re crazy. But it will tear us apart if we don’t face its cause.</p>",
		"tags": {
	      "1": "peace",
	      "2": "freedom",
	      "3": "anxiety"
	    }
	}
] %}

{% block content %}

	{% set blockData = { 
	    id: '1',
	    preTitle: '',
	    titleSize: '',
	    title: 'Slaying Giants',
	    tags: ''
	} %}{% include "partials/page-header.html" %}

	<div class="row">
		<div class="col-md-4 col-sm-5 col-xs-12">

			{% set blockData = { 
			    id: '2',
			    backgroundColorHex: '',
			    linkColorHex: '',
			    grayscale: '',
			    count: '',
			    titleSize: '',
			    title: '', 
			    subtitle: "",
			    copy: "<p>We all want more out of life.</p><p>But too often, obstacles stand between us and the full life God promises. They loom over us like giants blocking our path.</p><p>Greed, fear, anxiety, bitterness, and comparison — these “giants” are real and they are ready to fight. We can either turn and run, or we can start slaying giants.</p>", 
			    tags: '',
			    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/series_fuse/1x1slayinggiants_1700_1701_c1.png',
			    imageOpacity: '',
			    linkUrl: '',
			    linkText: ''
			} %}{% include "partials/card.html" %}

		</div><div class="col-md-8 col-sm-7 col-xs-12">

			{% for sermon in sermons %}
				{% set blockData = { 
				    id: sermon.id,
				    backgroundColorHex: '',
				    linkColorHex: '',
				    grayscale: '',
				    count: sermon.id,
				    titleSize: 'h4',
				    title: sermon.title, 
				    subtitle: sermon.subtitle,
				    copy: sermon.copy, 
				    tags: sermon.tags,
				    imageUrl: '',
				    imageOpacity: '',
				    linkUrl: '/sermon-entry.html',
				    linkText: 'Watch Now'
				} %}{% include "partials/card.html" %}
			{% endfor %}

		</div>
	</div>

    {% include "partials/footer.html" %}

{% endblock %}