{% set pageTitle = "Sermons" %}

{% set pageHeaderColorHex = "303030" %}
{% set pageColorHex = "" %}

{% extends "full-width.html" %}

{% block content %}

	<section class="soft-half xs-hard-sides">
	    <div class="container-fluid hard-sides">
	        <h1 class="h2 text-white push-half-top flush-bottom">Sermons</h1>            
	    </div>
	</section>

{% set blockData = { 
	    id: '1',
	    label: 'Featured Sermon',
	    titleSize:'h1',
	    title: "The Nature of the Shepherd",
	    subtitle: "<a href='/series.html'>Shepherd</a> • June 17, 2018 • Brad Cooper",
	    copy: "<p>Every person who tries to live life on their terms will soon discover they're just like sheep — spiritually defenseless, directionless, and dumb. Jesus promises He is present, personal and active in our lives if we hear His voice and let him lead us.</p>",
	    tags: {
	      '1': 'followingjesus',
	      '2': 'provision',
	      '3': 'fatherhood'
	    },
	    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/series_newspring/5475.sundays.cen.web.shepherd.1x1_1700_1700_90_c1.jpg',
	    imageAlignment: 'left',
	    linkUrl: '/series.html',
	    linkText: 'Watch Sermon'
	} %}{% include "partials/side-by-side.html" %}

{% set blockData = { 
    id: '2',
    label: 'Featured Series',
    titleSize:'h1',
    title: "Slaying Giants",
    copy: "<p>We all want more out of life.</p><p>But too often, obstacles stand between us and the full life God promises. They loom over us like giants blocking our path.</p><p>Greed, fear, anxiety, bitterness, and comparison — these “giants” are real and they are ready to fight. We can either turn and run, or we can start slaying giants.</p>",
    tags: {
      '': ''
    },
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/series_fuse/1x1slayinggiants_1700_1701_c1.png',
    imageAlignment: 'right',
    linkUrl: '/series.html',
    linkText: 'View Sermons'
} %}{% include "partials/side-by-side.html" %}

    <section class="bg-white rounded shadowed hard-sides">
		<div class="soft-sides xs-soft-top">
			<h2 class="push-half-bottom text-center">Latest Sermon Series</h2>
		</div>

        <div class="slider-wrapper" data-slider="250">
        	<div class="slider">
		        <div class="slider-item">
					<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/all/heroes/fuse/hearnoevil.commassets.1.jpg');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div><div class="slider-item rounded overflow-hidden">
		        	<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/newspring/collection/series_newspring/HS1x1.jpg');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div><div class="slider-item rounded overflow-hidden">
		        	<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/newspring/collection/series_newspring/4325.sundays.cen.web.easter18.story1.jpg');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div><div class="slider-item rounded overflow-hidden">
		        	<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/all/heroes/newspring/1x1TightenKnot.jpg');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div><div class="slider-item rounded overflow-hidden">
		        	<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/all/heroes/newspring/3490.sundays.cen.different.1x1.jpg');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div><div class="slider-item rounded overflow-hidden">
		        	<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/newspring/collection/series_newspring/series.dyswis.1x1.jpg');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div><div class="slider-item rounded overflow-hidden">
		        	<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/all/heroes/newspring/1x1_promothankfull.marketing.png');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div><div class="slider-item rounded overflow-hidden">
		        	<a href="/series.html"><div class="ratio-square shadowed background-center background-cover rounded overflow-hidden push-half-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/newspring/collection/series_fuse/1x1slayinggiants.png');"></div></a>
					<!-- <a href="/series.html" class="btn btn-primary btn-block">Watch Now</a> -->
		        </div>
		    </div>
		</div>

		<p class="text-center push-half-ends"><a href="#" class="btn btn-primary">Browse All Series</a></p>
    </section>

    <section class="bg-white rounded shadowed hard-sides soft-half-bottom">
		<div class="soft-sides xs-soft-top">
			<h2 class="push-half-bottom text-center">Featured Sermons</h2>
		</div>

        <div class="slider-wrapper" data-slider="400">
        	<div class="slider">
		        <div class="slider-item">
					{% set blockData = { 
					    count: '',
					    titleSize: 'h3',
					    title: 'The Three Voices In Your Head', 
					    copy: "<p>God’s voice in our lives is often drowned out by the voice of our flesh and the voice of satan. Discover the four ways you can turn down the noise and hear God more clearly every day.</p>", 
					    tags: {
					      '1': 'satan',
					      '2': 'truth',
					      '3': 'community'
					    },
					    imageUrl: '//ns.images.s3.amazonaws.com/all/heroes/fuse/hearnoevil.commassets.2x1.jpg',
					    linkUrl: '#',
					    linkText: 'Watch Now'
					} %}{% include "partials/card.html" %}
		        </div><div class="slider-item">
					{% set blockData = { 
					    count: '',
					    titleSize: 'h3',
					    title: 'The Three Voices In Your Head', 
					    copy: "<p>God’s voice in our lives is often drowned out by the voice of our flesh and the voice of satan. Discover the four ways you can turn down the noise and hear God more clearly every day.</p>", 
					    tags: {
					      '': ''
					    },
					    imageUrl: '//ns.images.s3.amazonaws.com/all/heroes/fuse/hearnoevil.commassets.2x1.jpg',
					    linkUrl: '#',
					    linkText: 'Watch Now'
					} %}{% include "partials/card.html" %}
		        </div><div class="slider-item">
					{% set blockData = { 
					    count: '',
					    titleSize: 'h3',
					    title: 'The Three Voices In Your Head', 
					    copy: "<p>God’s voice in our lives is often drowned out by the voice of our flesh and the voice of satan. Discover the four ways you can turn down the noise and hear God more clearly every day.</p>", 
					    tags: {
					      '': ''
					    },
					    imageUrl: '//ns.images.s3.amazonaws.com/all/heroes/fuse/hearnoevil.commassets.2x1.jpg',
					    linkUrl: '#',
					    linkText: 'Watch Now'
					} %}{% include "partials/card.html" %}
		        </div>
		    </div>
		</div>
    </section>

    {% include "partials/footer.html" %}

{% endblock %}