{% set pageTitle = "Sermons" %}
{% set pageBackgroundColor = "858585" %}
{% set pageForegroundColor = "" %}

{% extends "full-width.html" %}

{% block content %}

    <section class="soft-half xs-hard">
        <div class="container-fluid hard-sides">
            <h2 class="text-white push-half-top xs-text-center xs-soft-half-ends flush">Sermons</h2>            
        </div>
    </section>

    <section id="slider" class="bg-gray-darker rounded shadowed soft-ends hard-sides">
		<div class="soft-sides xs-soft-ends">
			<h3 class="text-white xs-text-center flush-bottom"><a href="#">Selected For You</a></h3>
		</div>

    	<div class="slider-wrapper" data-slider>
        	
		    <div class="slider">
		        <div class="slider-item">

					{% set blockData = { 
						count: '1',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Fear vs. Faith', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/697fb79c42347b0bd3d776ab24cfa0839e0c6c18.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'E00C10',
    					backgroundColorHex:'000000',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}

		        </div><div class="slider-item">

					{% set blockData = { 
						count: '2',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Generosity vs. Greed', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/d2bf8ffbfe3a4ce5e6ef01e2c9a7333e8039428b.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'2C337C',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}

		        </div><div class="slider-item">

					{% set blockData = { 
						count: '3',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Unforgiveness vs. Freedom', 
		                copy: "", 
		                tags: '',
		                imageUrl: '//embedwistia-a.akamaihd.net/deliveries/5a05ac328635e0a82dae01ed6a751c6f7005f7f7.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div><div class="slider-item">

					{% set blockData = { 
						count: '4',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Comparison vs. Contentment', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/4ecfc3c0f166996f3a037413ff2d057f2fa5859f.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div><div class="slider-item">

					{% set blockData = { 
						count: '5',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Anxiety vs. Gratitude', 
		                copy: "", 
		                tags: '',
		                imageUrl: '//embedwistia-a.akamaihd.net/deliveries/997ae8d91c21d2ecc0ebcb8eb6e33c8efbc31f1f.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div>
		    </div>
		</div>

    </section>

    <section id="slider" class="bg-gray rounded shadowed soft-ends hard-sides" style="background-color: #481673;">
		<div class="soft-sides xs-soft-ends">
			<h3 class="text-white xs-text-center flush-bottom"><a href="#">Slaying Giants</a></h3>
		</div>

        <div class="slider-wrapper" data-slider>
        	
		    <div class="slider">
		        <div class="slider-item">

					{% set blockData = { 
						count: '1',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Fear vs. Faith', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/697fb79c42347b0bd3d776ab24cfa0839e0c6c18.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'E00C10',
    					backgroundColorHex:'000000',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}

		        </div><div class="slider-item">

					{% set blockData = { 
						count: '2',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Generosity vs. Greed', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/d2bf8ffbfe3a4ce5e6ef01e2c9a7333e8039428b.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'2C337C',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}

		        </div><div class="slider-item">

					{% set blockData = { 
						count: '3',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Unforgiveness vs. Freedom', 
		                copy: "", 
		                tags: '',
		                imageUrl: '//embedwistia-a.akamaihd.net/deliveries/5a05ac328635e0a82dae01ed6a751c6f7005f7f7.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div><div class="slider-item">

					{% set blockData = { 
						count: '4',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Comparison vs. Contentment', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/4ecfc3c0f166996f3a037413ff2d057f2fa5859f.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div><div class="slider-item">

					{% set blockData = { 
						count: '5',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Anxiety vs. Gratitude', 
		                copy: "", 
		                tags: '',
		                imageUrl: '//embedwistia-a.akamaihd.net/deliveries/997ae8d91c21d2ecc0ebcb8eb6e33c8efbc31f1f.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div>
		    </div>
		</div>

    </section>

    <section id="slider" class="bg-gray-darker rounded shadowed soft-ends hard-sides">
		<div class="soft-sides xs-soft-ends">
			<h3 class="text-white xs-text-center flush-bottom"><a href="#">By Series</a></h3>
		</div>

        <div class="slider-wrapper" data-slider>
        	
		    <div class="slider">
		        <div class="slider-item">

					{% set blockData = { 
						count: '1',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Fear vs. Faith', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/697fb79c42347b0bd3d776ab24cfa0839e0c6c18.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'E00C10',
    					backgroundColorHex:'000000',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}

		        </div><div class="slider-item">

					{% set blockData = { 
						count: '2',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Generosity vs. Greed', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/d2bf8ffbfe3a4ce5e6ef01e2c9a7333e8039428b.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'2C337C',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}

		        </div><div class="slider-item">

					{% set blockData = { 
						count: '3',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Unforgiveness vs. Freedom', 
		                copy: "", 
		                tags: '',
		                imageUrl: '//embedwistia-a.akamaihd.net/deliveries/5a05ac328635e0a82dae01ed6a751c6f7005f7f7.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div><div class="slider-item">

					{% set blockData = { 
						count: '4',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Comparison vs. Contentment', 
		                copy: "", 
		                tags: '',
		                imageUrl: 'https://embedwistia-a.akamaihd.net/deliveries/4ecfc3c0f166996f3a037413ff2d057f2fa5859f.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div><div class="slider-item">

					{% set blockData = { 
						count: '5',
		                type: '',
		                typeIcon: '',
		                titleSize: 'h4',
		                title: 'Anxiety vs. Gratitude', 
		                copy: "", 
		                tags: '',
		                imageUrl: '//embedwistia-a.akamaihd.net/deliveries/997ae8d91c21d2ecc0ebcb8eb6e33c8efbc31f1f.jpg?image_crop_resized=640x360',
		                foregroundColorHex:'fff',
    					backgroundColorHex:'F4C0A5',
		                linkUrl: '#',
		                linkText: 'Watch Now'
		            } %}{% include "partials/card.html" %}
					
		        </div>
		    </div>
		</div>

    </section>


    {% include "partials/footer.html" %}

{% endblock %}