{% set pageTitle = "Slaying Giants | Sermons" %}

{% set pageHeaderColorHex = "5C1998" %}

{% extends "full-width.html" %}

{% set sermons = [
	{
		"id": "1",
		"title": "Fear vs. Faith",
		"subtitle": "Oct 1, 2017 • Dan Lian",
		"copy": "<p>When God’s people reached the Promised Land, it was full of abundance. It was also full of giants. The same is true for us. God has called us into abundance, but there are giants standing in our way. Don't allow these giants to steal one ounce of joy or hope from you. Know who they are and get ready to attack.</p>",
		"tags": {
	      "1": "bitterness",
	      "2": "greed",
	      "3": "promises",
	      "4": "anxiety"
	    },
	    "videoId": "y5ri640zjc",
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/5d938a14905bf032634c444b89d86b87d7665a6e.jpg"
	},
	{
		"id": "2",
		"title": "Generosity vs. Greed",
		"subtitle": "Oct 8, 2017 • Clayton King",
		"copy": "<p>We all know greed is a problem — we just think it’s a problem for other people. Greed is sneaky like that. Don't let greed grab a hold of you. Learn to see greed for what it is, slay its hold on your life, and stay free from greed for good.</p>",
		"tags": {
	      "1": "greed",
	      "2": "generosity",
	      "3": "money"
	    },
	    "videoId": "385rl7acs1",
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/fd7216326faea1bf5fbc605b40306a11c83f164a.jpg"
	},
	{
		"id": "3",
		"title": "Unforgiveness vs. Freedom",
		"subtitle": "Oct 15, 2017 • Brad Cooper",
		"copy": "<p>When someone hurts you, do you pretend it never happened or silently plot your revenge? Maybe you hold a grudge 'to teach 'em a lesson.'</p>",
		"tags": {
	      "1": "jealousy",
	      "2": "bitterness",
	      "3": "forgiveness"
	    },
	    "videoId": "t9tcmv1hh4",
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/2e84b8c54087be3c16fa4b2fed86cb0572caa252.jpg"
	},
	{
		"id": "4",
		"title": "Comparison vs. Contentment",
		"subtitle": "Oct 22, 2017 • Stacey Tarrant",
		"copy": "<p>Ever felt like someone else was living the life you were meant to have? That’s what comparison does. It convinces us that God plus something else — a spouse, a child, a house, a promotion — will be enough. Don't let comparison stop you from enjoying the life God has for you.</p>",
		"tags": {
	      "1": "comparison",
	      "2": "jealousy",
	      "3": "identity"
	    },
	    "videoId": "oira9v0foi",
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/c7d91261002ed6681d47c5d4af24c1991591ea0d.jpg"
	},
	{
		"id": "5",
		"title": "Anxiety vs. Gratitude",
		"subtitle": "Oct 29, 2017 • Lee McDerment",
		"copy": "<p>Anxiety attacks everyone. When we go through difficult or stressful situations, our bodies remember and fear alerts us when danger presents itself again. Anxiety doesn’t mean we’re bad people or that we’re crazy. But it will tear us apart if we don’t face its cause.</p>",
		"tags": {
	      "1": "peace",
	      "2": "freedom",
	      "3": "anxiety"
	    },
	    "videoId": "ivcwv0sm5m",
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/cb7f225234cacdb8fc8106ab3c85759d7d4c3d14.jpg"
	}
] %}

{% block content %}

{% for sermon in sermons %}{% if loop.index == 2 %}

	{% set blockData = { 
	    id: '1',
	    preTitle: 'Week ' + sermon.id + ' &middot; <a href="/series.html">Slaying Giants</a> &middot; ' + sermon.subtitle,
	    titleSize: '',
	    title: sermon.title,
	    tags: ''
	} %}{% include "partials/page-header.html" %}

	<div class="row">
		<div class="col-md-8 col-sm-7 col-xs-12">

			{% set blockData = { 
				id: '2',
			    videoId: sermon.videoId,
			    linkColorHex: '5C1998'
			} %}{% include "partials/video-embed.html" %}

			{% set blockData = { 
			    id: '',
			    backgroundColorHex: '',
			    linkColorHex: '',
			    grayscale: '',
			    count: '',
			    label: '',
			    textAlignment: '',
			    titleSize: '',
			    title: '', 
			    subtitle: "",
			    copy: sermon.copy,
			    trimCopy: '',
			    tags: '',
			    imageUrl: '',
			    imageOpacity: '',
			    linkUrl: '',
			    linkText: ''
			} %}{% include "partials/card.html" %}

		</div><div class="col-md-4 col-sm-5 col-xs-12">
			<div class="bg-white rounded shadowed soft hard-bottom sm-text-center xs-text-center xs-soft-double-top xs-soft-bottom clearfix push-half-bottom">

				<h3 class="text-center">Share This</h3>

				{% set blockData = { 
				    id: '',
				    orientation: 'vertical',
					copy: '',
				    linkUrl: ''
				} %}{% include "partials/share-buttons.html" %}
				
			</div>
		</div>
	</div>

	<section class="bg-white rounded shadowed hard-sides">
    	
		<div class="soft-sides xs-soft-top">
			<h2 class="push-half-bottom text-center">Related Sermons</h2>
		</div>

        <div class="slider-wrapper" data-slider="360">
        	<div class="slider">
		        {% for sermon in sermons %}<div class="slider-item">
					{% if sermon.linkUrl %}<a href="{{ sermon.linkUrl }}">{% endif %}

						<div class="ratio-landscape shadowed background-center background-cover rounded push-half-bottom" style="background-image:url('{{ sermon.imageUrl }}');"></div>

					{% if sermon.linkUrl %}</a>{% endif %}
		        </div>{% endfor %}
		    </div>
		</div>

    </section>

{% endif %}{% endfor %}

{% include "partials/footer.html" %}

{% endblock %}