{% extends "global.html" %}

{% block globalContent %}

{% if pageHeaderColorHex %}
<div class="page-brand-bar" style="background-color: #{{ pageHeaderColorHex }}; opacity: .9;" data-0="top: -48px;" data-200="top: -450px;"></div>
{% endif %}

{% if pageTitle %}
	{% set blockData = { 
	    id: '',
	    preTitle: '',
	    titleSize: '',
	    title: pageTitle,
	    tags: '',
	    copy: ''
	} %}{% include "partials/page-header.html" %}
{% endif %}

<div class="">
	<div class="">
	    {% block content %}
	    {% endblock %}
	</div>
</div>

{% endblock %}