{% extends "global.html" %}

{% block globalContent %}

	<div class="split-image bg-gray-darker text-white">

		<span class="full-screen background-cover background-center" style="background-image: url('https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-three-things-you-need-to-know-about-speaking-in-tongues_1700_850_90_c1.jpg'); opacity: .8;"></span>

		<div class="soft-double">
		    {% block hero %}
			{% endblock %}
		</div>
	</div>
	
	<div class="split-content">
		<div class="text-constrained bg-white">
			<div class="soft-double xs-soft">
			    {% block content %}
				{% endblock %}
			</div>
			<div class="soft xs-soft-half hard-bottom bg-gray-lighter">
				{% block related %}
				{% endblock %}
			</div>
		</div>
	</div>

{% endblock %}