// SM Breakpoint
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

	.sm-btn-block {
		display: inline-block;
		width: 100%;
	}

	.sm-text-center { text-align: center; }
	.sm-text-left { text-align: left; }
	.sm-text-right { text-align: right; }

	.sm-soft-double { padding: $base-spacing-unit * 2 !important; }
	.sm-soft-double-top { padding-top: $base-spacing-unit * 2 !important; }
	.sm-soft-double-bottom { padding-bottom: $base-spacing-unit * 2 !important; }
	.sm-soft-double-right { padding-right: $base-spacing-unit * 2 !important; }
	.sm-soft-double-left { padding-left: $base-spacing-unit * 2 !important; }
	.sm-soft-double-ends { padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
	.sm-soft-double-sides { padding-left: $base-spacing-unit * 2 !important; padding-right: $base-spacing-unit * 2 !important; }

	.sm-soft { padding: $base-spacing-unit !important; }
	.sm-soft-top { padding-top: $base-spacing-unit !important; }
	.sm-soft-bottom { padding-bottom: $base-spacing-unit !important; }
	.sm-soft-right { padding-right: $base-spacing-unit !important; }
	.sm-soft-left { padding-left: $base-spacing-unit !important; }
	.sm-soft-ends { padding-top: $base-spacing-unit !important; padding-bottom: $base-spacing-unit !important; }
	.sm-soft-sides { padding-left: $base-spacing-unit !important; padding-right: $base-spacing-unit !important; }

	.sm-soft-half { padding: $base-spacing-unit / 2 !important; }
	.sm-soft-half-top { padding-top: $base-spacing-unit / 2 !important; }
	.sm-soft-half-bottom { padding-bottom: $base-spacing-unit / 2 !important; }
	.sm-soft-half-right { padding-right: $base-spacing-unit / 2 !important; }
	.sm-soft-half-left { padding-left: $base-spacing-unit / 2 !important; }
	.sm-soft-half-ends { padding-top: $base-spacing-unit / 2 !important; padding-bottom: $base-spacing-unit / 2 !important; }
	.sm-soft-half-sides { padding-left: $base-spacing-unit / 2 !important; padding-right: $base-spacing-unit / 2 !important; }

	.sm-hard { padding: 0 !important; }
	.sm-hard-top { padding-top: 0 !important; }
	.sm-hard-bottom { padding-bottom: 0 !important; }
	.sm-hard-right { padding-right: 0 !important; }
	.sm-hard-left { padding-left: 0 !important; }
	.sm-hard-ends { padding-top: 0 !important; padding-bottom: 0 !important; }
	.sm-hard-sides { padding-left: 0 !important; padding-right: 0 !important; }

	.sm-push-double { margin: $base-spacing-unit * 2 !important; }
	.sm-push-double-top { margin-top: $base-spacing-unit * 2 !important; }
	.sm-push-double-bottom { margin-bottom: $base-spacing-unit * 2 !important; }
	.sm-push-double-right { margin-right: $base-spacing-unit * 2 !important; }
	.sm-push-double-left { margin-left: $base-spacing-unit * 2 !important; }
	.sm-push-double-ends { margin-top: $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
	.sm-push-double-sides { margin-left: $base-spacing-unit * 2 !important; margin-right: $base-spacing-unit * 2 !important; }
	
	.sm-push { margin: $base-spacing-unit !important; }
	.sm-push-top { margin-top: $base-spacing-unit !important; }
	.sm-push-bottom { margin-bottom: $base-spacing-unit !important; }
	.sm-push-right { margin-right: $base-spacing-unit !important; }
	.sm-push-left { margin-left: $base-spacing-unit !important; }
	.sm-push-ends { margin-top: $base-spacing-unit !important; margin-bottom: $base-spacing-unit !important; }
	.sm-push-sides { margin-left: $base-spacing-unit !important; margin-right: $base-spacing-unit !important; }

	.sm-push-half { margin: $base-spacing-unit / 2 !important; }
	.sm-push-half-top { margin-top: $base-spacing-unit / 2 !important; }
	.sm-push-half-bottom { margin-bottom: $base-spacing-unit / 2 !important; }
	.sm-push-half-right { margin-right: $base-spacing-unit / 2 !important; }
	.sm-push-half-left { margin-left: $base-spacing-unit / 2 !important; }
	.sm-push-half-ends { margin-top: $base-spacing-unit / 2 !important; margin-bottom: $base-spacing-unit / 2 !important; }
	.sm-push-half-sides { margin-left: $base-spacing-unit / 2 !important; margin-right: $base-spacing-unit / 2 !important; }

	.sm-flush { margin: 0 !important; }
	.sm-flush-top { margin-top: 0 !important; }
	.sm-flush-bottom { margin-bottom: 0 !important; }
	.sm-flush-right { margin-right: 0 !important; }
	.sm-flush-left { margin-left: 0 !important; }
	.sm-flush-ends { margin-top: 0 !important; margin-bottom: 0 !important; }
	.sm-flush-sides { margin-left: 0 !important; margin-right: 0 !important; }
}

// XS Breakpoint
@media (max-width: $screen-sm-min) {

	// Font Size Adjustments
	body {
		// font-size: ceil(($font-size-base * 1.15));

		.card {
			font-size: ceil(($font-size-base * .9));
		}
		.panel {
			font-size: ceil(($font-size-base * 1.05));
		}
		.label {
			font-size: ceil(($font-size-base * .75));
		}
	}

	.lead {
		font-size: 1.05em;
	}

	h1, .h1 { font-size: floor(($font-size-base * 1.8)); letter-spacing: -.7px !important; }
	h2, .h2 { font-size: floor(($font-size-base * 1.65)); letter-spacing: -.7px !important; }
	h3, .h3 { font-size: ceil(($font-size-base * 1.45)); }
	h4, .h4 { font-size: ceil(($font-size-base * 1.25)); }
	h5, .h5 { font-size: ceil(($font-size-base * 1.1)); }
	h6, .h6 { font-size: $font-size-base; }

	small {
		font-size: 95%;
	}

	blockquote {
		margin-left: -$base-spacing-unit !important;
		margin-right: 0 !important;
		padding-left: $base-spacing-unit/3*2.5 !important;
		font-size: floor(($font-size-base * 1.1)) !important;
		letter-spacing: 0 !important;
	}

	// Grid
	.xs-row-reverse {
		direction:rtl;
	}


	// Navigation
	.xs-nav-stacked {
	  > li {
	    float: none;
	    + li {
	      margin-top: 2px;
	      margin-left: 0; // no need for this gap between nav items
	    }
	  }
	}

	.xs-btn-block {
		display: inline-block;
		width: 100%;
	}

	// Positioning

	.xs-absolute { position: absolute; }
	.xs-relative { position: relative; }

	.xs-top-zero { top: 0; }
	.xs-right-zero { right: 0; }
	.xs-bottom-zero { bottom: 0; }
	.xs-left-zero { left: 0; }

	.xs-top-auto { top: auto; }
	.xs-right-auto { right: auto; }
	.xs-bottom-auto { bottom: auto; }
	.xs-left-auto { left: auto; }

	.xs-width-half { width: 50%; }
	.xs-width-full { width: 100%; }

	.xs-text-center { text-align: center; }
	.xs-text-left { text-align: left; }
	.xs-text-right { text-align: right; }

	.xs-pull-none { float: none !important; }
	.xs-pull-left { float: left; }
	.xs-pull-right { float: right; }

	.xs-soft-double { padding: $base-spacing-unit * 2 !important; }
	.xs-soft-double-top { padding-top: $base-spacing-unit * 2 !important; }
	.xs-soft-double-bottom { padding-bottom: $base-spacing-unit * 2 !important; }
	.xs-soft-double-right { padding-right: $base-spacing-unit * 2 !important; }
	.xs-soft-double-left { padding-left: $base-spacing-unit * 2 !important; }
	.xs-soft-double-ends { padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
	.xs-soft-double-sides { padding-left: $base-spacing-unit * 2 !important; padding-right: $base-spacing-unit * 2 !important; }

	.xs-soft { padding: $base-spacing-unit !important; }
	.xs-soft-top { padding-top: $base-spacing-unit !important; }
	.xs-soft-bottom { padding-bottom: $base-spacing-unit !important; }
	.xs-soft-right { padding-right: $base-spacing-unit !important; }
	.xs-soft-left { padding-left: $base-spacing-unit !important; }
	.xs-soft-ends { padding-top: $base-spacing-unit !important; padding-bottom: $base-spacing-unit !important; }
	.xs-soft-sides { padding-left: $base-spacing-unit !important; padding-right: $base-spacing-unit !important; }

	.xs-soft-half { padding: $base-spacing-unit / 2 !important; }
	.xs-soft-half-top { padding-top: $base-spacing-unit / 2 !important; }
	.xs-soft-half-bottom { padding-bottom: $base-spacing-unit / 2 !important; }
	.xs-soft-half-right { padding-right: $base-spacing-unit / 2 !important; }
	.xs-soft-half-left { padding-left: $base-spacing-unit / 2 !important; }
	.xs-soft-half-ends { padding-top: $base-spacing-unit / 2 !important; padding-bottom: $base-spacing-unit / 2 !important; }
	.xs-soft-half-sides { padding-left: $base-spacing-unit / 2 !important; padding-right: $base-spacing-unit / 2 !important; }

	.xs-hard { padding: 0 !important; }
	.xs-hard-top { padding-top: 0 !important; }
	.xs-hard-bottom { padding-bottom: 0 !important; }
	.xs-hard-right { padding-right: 0 !important; }
	.xs-hard-left { padding-left: 0 !important; }
	.xs-hard-ends { padding-top: 0 !important; padding-bottom: 0 !important; }
	.xs-hard-sides { padding-left: 0 !important; padding-right: 0 !important; }

	.xs-push-double { margin: $base-spacing-unit * 2 !important; }
	.xs-push-double-top { margin-top: $base-spacing-unit * 2 !important; }
	.xs-push-double-bottom { margin-bottom: $base-spacing-unit * 2 !important; }
	.xs-push-double-right { margin-right: $base-spacing-unit * 2 !important; }
	.xs-push-double-left { margin-left: $base-spacing-unit * 2 !important; }
	.xs-push-double-ends { margin-top: $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
	.xs-push-double-sides { margin-left: $base-spacing-unit * 2 !important; margin-right: $base-spacing-unit * 2 !important; }
	
	.xs-push { margin: $base-spacing-unit !important; }
	.xs-push-top { margin-top: $base-spacing-unit !important; }
	.xs-push-bottom { margin-bottom: $base-spacing-unit !important; }
	.xs-push-right { margin-right: $base-spacing-unit !important; }
	.xs-push-left { margin-left: $base-spacing-unit !important; }
	.xs-push-ends { margin-top: $base-spacing-unit !important; margin-bottom: $base-spacing-unit !important; }
	.xs-push-sides { margin-left: $base-spacing-unit !important; margin-right: $base-spacing-unit !important; }

	.xs-push-half { margin: $base-spacing-unit / 2 !important; }
	.xs-push-half-top { margin-top: $base-spacing-unit / 2 !important; }
	.xs-push-half-bottom { margin-bottom: $base-spacing-unit / 2 !important; }
	.xs-push-half-right { margin-right: $base-spacing-unit / 2 !important; }
	.xs-push-half-left { margin-left: $base-spacing-unit / 2 !important; }
	.xs-push-half-ends { margin-top: $base-spacing-unit / 2 !important; margin-bottom: $base-spacing-unit / 2 !important; }
	.xs-push-half-sides { margin-left: $base-spacing-unit / 2 !important; margin-right: $base-spacing-unit / 2 !important; }

	.xs-flush { margin: 0 !important; }
	.xs-flush-top { margin-top: 0 !important; }
	.xs-flush-bottom { margin-bottom: 0 !important; }
	.xs-flush-right { margin-right: 0 !important; }
	.xs-flush-left { margin-left: 0 !important; }
	.xs-flush-ends { margin-top: 0 !important; margin-bottom: 0 !important; }
	.xs-flush-sides { margin-left: 0 !important; margin-right: 0 !important; }
}