// Buttons
.btn {
	font-family: $font-family-sans-serif;
	font-weight: 500;
	text-decoration: none;
	vertical-align: bottom;
}

.btn-secondary { @include button-variant($white, $brand-secondary, $brand-secondary); }
.btn-tertiary { @include button-variant($white, $brand-tertiary, $brand-tertiary); }
.btn-gray-lighter { @include button-variant($gray-darker, $gray-lighter, $gray-lighter); }
.btn-gray-light { @include button-variant($gray-darker, $gray-light, $gray-light); }
.btn-gray-dark { @include button-variant($white, $gray-dark, $gray-dark); }
.btn-gray-darker { @include button-variant($white, $gray-darker, $gray-darker); }

	// Fixes alignment of large icons within buttons
.btn {
	i {
		margin-left: 5px;
	}
}

.btn .fa-xs, .fa-xs {
	position: relative;
	top: -1px;
}

.btn .fa-lg, .fa-lg {
	position: relative;
	top: 1px;
}


.btn-play {
	width: $base-spacing-unit*2;
	height: $base-spacing-unit*2;
	line-height: $base-spacing-unit*2;
	background-color: $brand-primary;
	border-radius: 1000px;
	border: 3px solid $white;
	transition: background-color .1s;
	font-size: $font-size-base*.6;
	transform: scale(1.65);

	&:hover {
		color: $white;
		background-color: $brand-secondary;
	}

	.wistia_embed {
		display: inline-block;
		position: absolute !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 1000px;

		.wistia_click_to_play {
			position: absolute !important;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 1000px;
		}
	}

	i {
		position: absolute !important;
		top: 50% !important;
		left: 50%;
		height: 20px;
		width: 20px;
		line-height: 20px;
		text-align: center;
		margin-top: -10px;
		margin-left: -9px;
	}
}