// Helper Classes

.strong { font-weight: 500; }
.serif { font-family: $font-family-serif; }
.sans-serif { font-family: $font-family-sans-serif; }
.text-constrained { max-width: 700px; }
.page-constrained { max-width: 1200px; }
.mx-auto { margin-left: auto; margin-right: auto; }

.no-border { border: none; }
.rounded { border-radius: 5px; }
.circular { border-radius: 1000px; }
.shadowed { box-shadow: 0 1px 3px rgba($gray-darker, .25), 0 3px 0px rgba($gray-darker, .1); }
.grayscale { filter: grayscale(1); }

// Positioning
.position-absolute { position: absolute; }
.position-relative { position: relative; }

.top-zero { top: 0; }
.right-zero { right: 0; }
.bottom-zero { bottom: 0; }
.left-zero { left: 0; }

.top-auto { top: auto; }
.right-auto { right: auto; }
.bottom-auto { bottom: auto; }
.left-auto { left: auto; }

.width-half { width: 50%; }
.width-full { width: 100%; }

.full-screen { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.background-cover { background-size: cover; }
.background-center { background-position: center; }
.bring-forward { position: relative; z-index: 1; }
.overflow-hidden { overflow: hidden;  }
.display-block { display: block; }
.display-inline-block { display: inline-block; }

.list-style-none { list-style-type: none; }
.list-inline li { display: inline-block; }

.text-decoration-none { 
	text-decoration: none; 

	&, &:hover, &:focus, *, *:hover, *:focus {
		text-decoration: none;
	}
}

.text-secondary { color: $brand-secondary; }
.text-tertiary { color: $brand-tertiary; }
.text-gray-lighter { color: darken($gray-lighter, 10);}
.text-gray-light { color: $gray-light; }
.text-gray { color: $gray; }
.text-gray-dark { color: $gray-dark; }
.text-gray-darker { color: $gray-darker; }

.text-white, .text-white a, .text-white a:hover { color: $white; }

.text-kidspring-primary { color: $kidspring-primary; }
.text-kidspring-secondary { color: $kidspring-secondary; }
.text-kidspring-tertiary { color: $kidspring-tertiary; }

.bg-white { background-color: $white; }
.bg-secondary { background-color: $brand-secondary; }
.bg-tertiary { background-color: $brand-tertiary; }
.bg-success { background-color: $brand-success; }
.bg-info { background-color: $brand-info; }
.bg-warning { background-color: $brand-warning; }
.bg-danger { background-color: $brand-danger; }
.bg-kidspring-primary { background-color: $kidspring-primary; }
.bg-kidspring-secondary { background-color: $kidspring-secondary; }
.bg-kidspring-tertiary { background-color: $kidspring-tertiary; }

.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray { background-color: $gray; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray-darker { background-color: $gray-darker; }
.bg-black { background-color: $black; }
.bg-white { background-color: $white; }

.bg-primary a:hover,
.bg-secondary a:hover,
.bg-tertiary a:hover,
.bg-success a:hover,
.bg-info a:hover,
.bg-warning a:hover,
.bg-danger a:hover,
.bg-gray a:hover,
.bg-gray-dark a:hover,
.bg-gray-darker a:hover,
.bg-kidspring-primary a:hover,
.bg-kidspring-secondary a:hover,
.bg-kidspring-tertiary a:hover {
	*:not(.panel-body) {
		color: $white;
	}
}


.soft-double { padding: $base-spacing-unit * 2 !important; }
.soft-double-top { padding-top: $base-spacing-unit * 2 !important; }
.soft-double-bottom { padding-bottom: $base-spacing-unit * 2 !important; }
.soft-double-right { padding-right: $base-spacing-unit * 2 !important; }
.soft-double-left { padding-left: $base-spacing-unit * 2 !important; }
.soft-double-ends { padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
.soft-double-sides { padding-left: $base-spacing-unit * 2 !important; padding-right: $base-spacing-unit * 2 !important; }

.soft { padding: $base-spacing-unit !important; }
.soft-top { padding-top: $base-spacing-unit !important; }
.soft-bottom { padding-bottom: $base-spacing-unit !important; }
.soft-right { padding-right: $base-spacing-unit !important; }
.soft-left { padding-left: $base-spacing-unit !important; }
.soft-ends { padding-top: $base-spacing-unit !important; padding-bottom: $base-spacing-unit !important; }
.soft-sides { padding-left: $base-spacing-unit !important; padding-right: $base-spacing-unit !important; }

.soft-half { padding: $base-spacing-unit / 2 !important; }
.soft-half-top { padding-top: $base-spacing-unit / 2 !important; }
.soft-half-bottom { padding-bottom: $base-spacing-unit / 2 !important; }
.soft-half-right { padding-right: $base-spacing-unit / 2 !important; }
.soft-half-left { padding-left: $base-spacing-unit / 2 !important; }
.soft-half-ends { padding-top: $base-spacing-unit / 2 !important; padding-bottom: $base-spacing-unit / 2 !important; }
.soft-half-sides { padding-left: $base-spacing-unit / 2 !important; padding-right: $base-spacing-unit / 2 !important; }

.hard { padding: 0 !important; }
.hard-top { padding-top: 0 !important; }
.hard-bottom { padding-bottom: 0 !important; }
.hard-right { padding-right: 0 !important; }
.hard-left { padding-left: 0 !important; }
.hard-ends { padding-top: 0 !important; padding-bottom: 0 !important; }
.hard-sides { padding-left: 0 !important; padding-right: 0 !important; }

.push-double { margin: $base-spacing-unit * 2 !important; }
.push-double-top { margin-top: $base-spacing-unit * 2 !important; }
.push-double-bottom { margin-bottom: $base-spacing-unit * 2 !important; }
.push-double-right { margin-right: $base-spacing-unit * 2 !important; }
.push-double-left { margin-left: $base-spacing-unit * 2 !important; }
.push-double-ends { margin-top: $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
.push-double-sides { margin-left: $base-spacing-unit * 2 !important; margin-right: $base-spacing-unit * 2 !important; }

.push { margin: $base-spacing-unit !important; }
.push-top { margin-top: $base-spacing-unit !important; }
.push-bottom { margin-bottom: $base-spacing-unit !important; }
.push-right { margin-right: $base-spacing-unit !important; }
.push-left { margin-left: $base-spacing-unit !important; }
.push-ends { margin-top: $base-spacing-unit !important; margin-bottom: $base-spacing-unit !important; }
.push-sides { margin-left: $base-spacing-unit !important; margin-right: $base-spacing-unit !important; }

.push-half { margin: $base-spacing-unit / 2 !important; }
.push-half-top { margin-top: $base-spacing-unit / 2 !important; }
.push-half-bottom { margin-bottom: $base-spacing-unit / 2 !important; }
.push-half-right { margin-right: $base-spacing-unit / 2 !important; }
.push-half-left { margin-left: $base-spacing-unit / 2 !important; }
.push-half-ends { margin-top: $base-spacing-unit / 2 !important; margin-bottom: $base-spacing-unit / 2 !important; }
.push-half-sides { margin-left: $base-spacing-unit / 2 !important; margin-right: $base-spacing-unit / 2 !important; }

.flush { margin: 0 !important; }
.flush-top { margin-top: 0 !important; }
.flush-bottom { margin-bottom: 0 !important; }
.flush-right { margin-right: 0 !important; }
.flush-left { margin-left: 0 !important; }
.flush-ends { margin-top: 0 !important; margin-bottom: 0 !important; }
.flush-sides { margin-left: 0 !important; margin-right: 0 !important; }