@import "vars";
@import '_bootstrap';

$base-spacing-unit: 30px;
$nav-width: 80px;

// Layout
.sidebar {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: $nav-width;
	background-color: $gray-darker;
	z-index: $zindex-navbar-fixed;

	@media (min-width: $screen-sm-min) {
    	top: 0;
    	width: $nav-width;
    	height: 100%;
    	z-index: $zindex-navbar;
  	}
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: $nav-width;
	-webkit-overflow-scrolling: touch;

	@media (min-width: $screen-sm-min) {
		left: $nav-width;
		padding-bottom: 0;
	}
}

.full-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.split {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;

	&.split-left {
		left: 0;
	}

	&.split-right {
		right: 0;
	}

	@media (max-width: $screen-sm-max) {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		width: 100%;

    	display: block;

		&:before{
	        content: "";
	        display: block;
	        padding-top: 100%;
	    }
	}
}

.page-brand-bar {
	position: fixed;
	z-index: -1;
	height: $base-spacing-unit*2.5;
	width: 100%;
	transform: scale(7, 7) rotate(-6deg);

	@media (min-width: $screen-sm-max) {
		height: $base-spacing-unit*2.5;
	}
}

// Fixed Aspect Ratios
.ratio-landscape, .ratio-square, .ratio-portrait {
	position: relative;
    display: block;

	&:before{
        content: "";
        display: block;
    }
}

.ratio-landscape:before{ padding-top: 50%; }
.ratio-square:before{ padding-top: 100%; }
.ratio-portrait:before{ padding-top: 150%; }


// Navigation
.nav-primary {
	position: relative;
	z-index: 1;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	background-color: $gray-darker;

	.nav-icon {
		position: relative;
		z-index: 1;
		width: $nav-width / 3;
	}

	.nav-logo-light {
		display: none;
	}

	li {
		position: relative;
		display: inline-block;
		width: 20%;
	}

	a {
		position: relative;
		display: inline-block;
		width: 100%;
		height: $nav-width;
		line-height: $nav-width;
		text-align: center;
		color: $white;
		border-right: 1px solid rgba(0,0,0,.1);

		span {
			display: none;
		}

		i {
			font-size: 1.1em;
		}
	}

	li:last-child a {
		border-right: 0;
	}

	li:nth-child(6n) a {
		border-right: 0;
	}

	// Raise navigation icon position for iPhone X
	@media only screen and (device-width : 375px) and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
		a {
			line-height: $nav-width - 10;
		}
    }

	@media (min-width: $screen-sm-min) {

		.nav-icon {
			width: $nav-width / 2.5;
		}

		li {
			width: 100%;
		}

		a {
			width: $nav-width;
			border-bottom: 1px solid rgba(255,255,255,.08);
			border-right: 0;

			span {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				padding-left: $nav-width;
				padding-right: 30px;
				background-color: $brand-primary;
				color: $white;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				box-shadow: 0 0 3px rgba(0,0,0,.4);
			}

			i {
				position: relative;
				z-index: 2;
				font-size: 1.25em;
			}

			&:hover {
				span {
					display: inline-block;
				}
			}
		}

		.nav-logo:hover {
			.nav-logo-regular {
				display: none;
			}

			.nav-logo-light {
				display: inline-block;
			}
		}
	}
}


// Slider

.slider-wrapper {
	width: 100%;
	overflow-x: auto;
}

.slider {
	padding: 15px 0;

	.slider-item {
		display: inline-block;
		width: 300px;
		margin-right: 10px;
		margin-left: 10px;
		vertical-align: middle;

		.panel {
			margin-bottom: 0;
		}

		&:first-child {
			margin-left: 20px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}


html { 
	-webkit-font-smoothing: antialiased; 
	overflow: hidden; 
}

body { 
	// background-color: $gray-lighter;
	font-family: $font-family-serif;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

section, footer {
	margin-bottom: $base-spacing-unit/2;
	padding: $base-spacing-unit*2 $base-spacing-unit $base-spacing-unit;

	@media (min-width: $screen-sm-min) {
		margin-bottom: $base-spacing-unit;
		padding: $base-spacing-unit*3 $base-spacing-unit $base-spacing-unit*2;
	}
}

a {
	text-decoration: underline;
}

h1, .h1 {
	// font-weight: 900;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
	font-family: $font-family-sans-serif;
	letter-spacing: -.5px;
	margin-top: 0;

	a {
		color: inherit;
		text-decoration: none;
		transition: color .1s;

		&:hover {
			color: $brand-primary;
			text-decoration: none;
		}
	}
}

h6, .h6 {
	letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin-bottom: $base-spacing-unit;
}

img {
	max-width: 100%;
}

hr {
	border-top-width: 3px;
	margin-top: $base-spacing-unit * 2;
	margin-bottom: $base-spacing-unit * 2;
	border-color: rgba(0,0,0,.1);

	&.invisible {
		border-width: 0;
	}

	&.tiny {
		max-width: 120px;
	}
}

blockquote {
	border-color: $brand-primary;
	font-weight: 500;
	font-style: italic;
	letter-spacing: -.2px;
	padding: $base-spacing-unit;

	footer {
		font-family: $font-family-serif;
		font-weight: 500;
		letter-spacing: 0;
	}

	& footer:before, 
	& small:before, 
	& .small:before {
		font-weight: 500;
	}
}

mark, .mark {
	background-color: #ffffa6;
}

.nav {
	font-family: $font-family-sans-serif;
	font-weight: 700;

	a {
		font-size: 16px;
		text-decoration: none;
	}
}


.page-header { border-bottom-width: 3px; }

// Grids

.row-reverse {
	direction:rtl;
}

// Jumbotron
.jumbotron {
	padding: $base-spacing-unit*4 0 $base-spacing-unit*2;
	position: relative;

	& > div {
		position: relative;
		z-index: 1;
	}

	@media (min-width: $screen-sm-min) {
    	padding: $base-spacing-unit*5 0 0;
  	}
}

// Dropdowns
.dropdown-menu {
	font-family: $font-family-sans-serif;

	& > li {
		& > a {
			font-weight: 500;
			text-decoration: none;
			padding-top: $base-spacing-unit/3;
			padding-bottom: $base-spacing-unit/3;
			border-bottom: 1px solid rgba(0,0,0,.1);
		}

		&:last-child {
			& > a {
				border-bottom: none;
			}
		}
	}
}

// Breadcrumbs
.breadcrumb {
	background-color: transparent;
	padding: 0;

	li, a {
		font-family: $font-family-sans-serif;
		font-size: floor(($font-size-base * .8));
		font-weight: 700;
		text-decoration: none;
	}
}

// Pagination
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
	background-color: $gray-darker;
	color: $white;
}

.pagination > li > a, 
.pagination > li > span {
	border-width: 3px;
	margin-left: -3px;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
	border-color: $gray-darker;
}

.pagination > li > a:hover, 
.pagination > li > a:focus, 
.pagination > li > span:hover, 
.pagination > li > span:focus {
	border-color: $gray-darker;
}

.pagination > li > a:hover, 
.pagination > li > a:focus, 
.pagination > li > span:hover, 
.pagination > li > span:focus {
	color: $gray-darker;
}

.pagination > li:first-child > a:hover, 
.pagination > li:first-child > span:hover,
.pagination > li:last-child > a:hover, 
.pagination > li:last-child > span:hover {
	color: $brand-primary;
}

// Labels

label {
	font-family: $font-family-sans-serif;
	font-weight: 500;
}

.label {
	text-decoration: none;
}

// Buttons
.btn {
	font-family: $font-family-sans-serif;
	font-weight: 700;
	text-decoration: none;
	vertical-align: bottom;
}

.btn-secondary { @include button-variant($white, $brand-secondary, $brand-secondary); }
.btn-tertiary { @include button-variant($white, $brand-tertiary, $brand-tertiary); }
.btn-gray-dark { @include button-variant($white, $gray-dark, $gray-dark); }
.btn-gray-darker { @include button-variant($white, $gray-darker, $gray-darker); }

	// Fixes alignment of large icons within buttons
.btn {
	.fa-lg {
		position: relative;
		top: 1px;
	}
}

.btn-play {
	position: absolute !important;
	top: auto;
	bottom: -$base-spacing-unit*1.35;
	left: 50%;
	margin-left: -$base-spacing-unit*1.25;
	height: $base-spacing-unit*2.5;
	width: $base-spacing-unit*2.5;
	line-height: $base-spacing-unit*2.4;
	border-radius: 1000px;
	background-color: $brand-primary;
	border: 4px solid $white;
	transition: background-color .1s;

	@media (min-width: $screen-sm-min) {
		width: $base-spacing-unit*2.5;
		height: $base-spacing-unit*2.5;
		line-height: $base-spacing-unit*2.35;
		margin-left: -$base-spacing-unit*1.25;
		bottom: -$base-spacing-unit*1.75;
	}

	.wistia_embed {
		display: inline-block;
		position: absolute !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 1000px;

		.wistia_click_to_play {
			position: absolute !important;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 1000px;
		}
	}

	&:hover, &:focus {
		color: $white;
		background-color: $brand-secondary;
	}

	i {
		position: relative;
		left: 2px;
	}
}

// Cards
.card-count {
	position: absolute;
	top: $base-spacing-unit/2;
	left: $base-spacing-unit/2;
	display: inline-block;
	width: $base-spacing-unit * 1.2;
	height: $base-spacing-unit * 1.2;
	line-height: $base-spacing-unit * 1.3;
}

// Panels

.panel {
	border: 0;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba($gray-darker, .25), 0 3px 0px rgba($gray-darker, .1);
	margin-bottom: $base-spacing-unit/2;

	@media (min-width: $screen-sm-min) {
		margin-bottom: $base-spacing-unit;
	}
}

.panel-primary > .panel-heading {
	color: $white !important;
}

.panel-body {
	padding: $base-spacing-unit;
}

.panel-image {
	position: relative;
	display: inline-block;

	img {
		display: block;
		max-width: 100%;
	}
}



.strong { font-weight: 500; }
.serif { font-family: $font-family-serif; }
.sans-serif { font-family: $font-family-sans-serif; }
.text-constrained { max-width: 700px; }

.page-constrained { 
	max-width: 1400px; 
}

.no-border { border: none; }
.rounded { border-radius: 5px; }
.circular { border-radius: 1000px; }
.shadowed { box-shadow: 0 1px 3px rgba($gray-darker, .25), 0 3px 0px rgba($gray-darker, .1); }
.grayscale { filter: grayscale(1); }

// Positioning
.position-absolute { position: absolute; }
.position-relative { position: relative; }

.top-zero { top: 0; }
.right-zero { right: 0; }
.bottom-zero { bottom: 0; }
.left-zero { left: 0; }

.top-auto { top: auto; }
.right-auto { right: auto; }
.bottom-auto { bottom: auto; }
.left-auto { left: auto; }

.width-half { width: 50%; }
.width-full { width: 100%; }

// .full-screen { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.background-cover { background-size: cover; }
.background-center { background-position: center; }
.bring-forward { position: relative; z-index: 1; }
.overflow-hidden { overflow: hidden;  }
.display-block { display: block; }

.list-style-none { list-style-type: none; }
.list-inline li { display: inline-block; }

.text-decoration-none { 
	text-decoration: none; 

	&, &:hover, &:focus, *, *:hover, *:focus {
		text-decoration: none;
	}
}

.text-secondary { color: $brand-secondary; }
.text-tertiary { color: $brand-tertiary; }
.text-gray-lighter { color: darken($gray-lighter, 10);}
.text-gray-light { color: $gray-light; }
.text-gray { color: $gray; }
.text-gray-dark { color: $gray-dark; }
.text-gray-darker { color: $gray-darker; }

.text-white, .text-white a, .text-white a:hover { color: $white; }

.text-kidspring-primary { color: $kidspring-primary; }
.text-kidspring-secondary { color: $kidspring-secondary; }
.text-kidspring-tertiary { color: $kidspring-tertiary; }

.bg-white { background-color: $white; }
.bg-secondary { background-color: $brand-secondary; }
.bg-tertiary { background-color: $brand-tertiary; }
.bg-success { background-color: $brand-success; }
.bg-info { background-color: $brand-info; }
.bg-warning { background-color: $brand-warning; }
.bg-danger { background-color: $brand-danger; }
.bg-kidspring-primary { background-color: $kidspring-primary; }
.bg-kidspring-secondary { background-color: $kidspring-secondary; }
.bg-kidspring-tertiary { background-color: $kidspring-tertiary; }

.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray { background-color: $gray; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray-darker { background-color: $gray-darker; }
.bg-black { background-color: $black; }
.bg-white { background-color: $white; }

.bg-primary a:hover,
.bg-secondary a:hover,
.bg-tertiary a:hover,
.bg-success a:hover,
.bg-info a:hover,
.bg-warning a:hover,
.bg-danger a:hover,
.bg-gray a:hover,
.bg-gray-dark a:hover,
.bg-gray-darker a:hover,
.bg-kidspring-primary a:hover,
.bg-kidspring-secondary a:hover,
.bg-kidspring-tertiary a:hover {
	*:not(.panel-body) {
		color: $white;
	}
}


.soft-double { padding: $base-spacing-unit * 2 !important; }
.soft-double-top { padding-top: $base-spacing-unit * 2 !important; }
.soft-double-bottom { padding-bottom: $base-spacing-unit * 2 !important; }
.soft-double-right { padding-right: $base-spacing-unit * 2 !important; }
.soft-double-left { padding-left: $base-spacing-unit * 2 !important; }
.soft-double-ends { padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
.soft-double-sides { padding-left: $base-spacing-unit * 2 !important; padding-right: $base-spacing-unit * 2 !important; }

.soft { padding: $base-spacing-unit !important; }
.soft-top { padding-top: $base-spacing-unit !important; }
.soft-bottom { padding-bottom: $base-spacing-unit !important; }
.soft-right { padding-right: $base-spacing-unit !important; }
.soft-left { padding-left: $base-spacing-unit !important; }
.soft-ends { padding-top: $base-spacing-unit !important; padding-bottom: $base-spacing-unit !important; }
.soft-sides { padding-left: $base-spacing-unit !important; padding-right: $base-spacing-unit !important; }

.soft-half { padding: $base-spacing-unit / 2 !important; }
.soft-half-top { padding-top: $base-spacing-unit / 2 !important; }
.soft-half-bottom { padding-bottom: $base-spacing-unit / 2 !important; }
.soft-half-right { padding-right: $base-spacing-unit / 2 !important; }
.soft-half-left { padding-left: $base-spacing-unit / 2 !important; }
.soft-half-ends { padding-top: $base-spacing-unit / 2 !important; padding-bottom: $base-spacing-unit / 2 !important; }
.soft-half-sides { padding-left: $base-spacing-unit / 2 !important; padding-right: $base-spacing-unit / 2 !important; }

.hard { padding: 0 !important; }
.hard-top { padding-top: 0 !important; }
.hard-bottom { padding-bottom: 0 !important; }
.hard-right { padding-right: 0 !important; }
.hard-left { padding-left: 0 !important; }
.hard-ends { padding-top: 0 !important; padding-bottom: 0 !important; }
.hard-sides { padding-left: 0 !important; padding-right: 0 !important; }

.push-double { margin: $base-spacing-unit * 2 !important; }
.push-double-top { margin-top: $base-spacing-unit * 2 !important; }
.push-double-bottom { margin-bottom: $base-spacing-unit * 2 !important; }
.push-double-right { margin-right: $base-spacing-unit * 2 !important; }
.push-double-left { margin-left: $base-spacing-unit * 2 !important; }
.push-double-ends { margin-top: $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
.push-double-sides { margin-left: $base-spacing-unit * 2 !important; margin-right: $base-spacing-unit * 2 !important; }

.push { margin: $base-spacing-unit !important; }
.push-top { margin-top: $base-spacing-unit !important; }
.push-bottom { margin-bottom: $base-spacing-unit !important; }
.push-right { margin-right: $base-spacing-unit !important; }
.push-left { margin-left: $base-spacing-unit !important; }
.push-ends { margin-top: $base-spacing-unit !important; margin-bottom: $base-spacing-unit !important; }
.push-sides { margin-left: $base-spacing-unit !important; margin-right: $base-spacing-unit !important; }

.push-half { margin: $base-spacing-unit / 2 !important; }
.push-half-top { margin-top: $base-spacing-unit / 2 !important; }
.push-half-bottom { margin-bottom: $base-spacing-unit / 2 !important; }
.push-half-right { margin-right: $base-spacing-unit / 2 !important; }
.push-half-left { margin-left: $base-spacing-unit / 2 !important; }
.push-half-ends { margin-top: $base-spacing-unit / 2 !important; margin-bottom: $base-spacing-unit / 2 !important; }
.push-half-sides { margin-left: $base-spacing-unit / 2 !important; margin-right: $base-spacing-unit / 2 !important; }

.flush { margin: 0 !important; }
.flush-top { margin-top: 0 !important; }
.flush-bottom { margin-bottom: 0 !important; }
.flush-right { margin-right: 0 !important; }
.flush-left { margin-left: 0 !important; }
.flush-ends { margin-top: 0 !important; margin-bottom: 0 !important; }
.flush-sides { margin-left: 0 !important; margin-right: 0 !important; }

// SM Breakpoint
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.sm-text-center { text-align: center; }
	.sm-text-left { text-align: left; }
	.sm-text-right { text-align: right; }

	.sm-soft-double { padding: $base-spacing-unit * 2 !important; }
	.sm-soft-double-top { padding-top: $base-spacing-unit * 2 !important; }
	.sm-soft-double-bottom { padding-bottom: $base-spacing-unit * 2 !important; }
	.sm-soft-double-right { padding-right: $base-spacing-unit * 2 !important; }
	.sm-soft-double-left { padding-left: $base-spacing-unit * 2 !important; }
	.sm-soft-double-ends { padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
	.sm-soft-double-sides { padding-left: $base-spacing-unit * 2 !important; padding-right: $base-spacing-unit * 2 !important; }

	.sm-soft { padding: $base-spacing-unit !important; }
	.sm-soft-top { padding-top: $base-spacing-unit !important; }
	.sm-soft-bottom { padding-bottom: $base-spacing-unit !important; }
	.sm-soft-right { padding-right: $base-spacing-unit !important; }
	.sm-soft-left { padding-left: $base-spacing-unit !important; }
	.sm-soft-ends { padding-top: $base-spacing-unit !important; padding-bottom: $base-spacing-unit !important; }
	.sm-soft-sides { padding-left: $base-spacing-unit !important; padding-right: $base-spacing-unit !important; }

	.sm-soft-half { padding: $base-spacing-unit / 2 !important; }
	.sm-soft-half-top { padding-top: $base-spacing-unit / 2 !important; }
	.sm-soft-half-bottom { padding-bottom: $base-spacing-unit / 2 !important; }
	.sm-soft-half-right { padding-right: $base-spacing-unit / 2 !important; }
	.sm-soft-half-left { padding-left: $base-spacing-unit / 2 !important; }
	.sm-soft-half-ends { padding-top: $base-spacing-unit / 2 !important; padding-bottom: $base-spacing-unit / 2 !important; }
	.sm-soft-half-sides { padding-left: $base-spacing-unit / 2 !important; padding-right: $base-spacing-unit / 2 !important; }

	.sm-hard { padding: 0 !important; }
	.sm-hard-top { padding-top: 0 !important; }
	.sm-hard-bottom { padding-bottom: 0 !important; }
	.sm-hard-right { padding-right: 0 !important; }
	.sm-hard-left { padding-left: 0 !important; }
	.sm-hard-ends { padding-top: 0 !important; padding-bottom: 0 !important; }
	.sm-hard-sides { padding-left: 0 !important; padding-right: 0 !important; }

	.sm-push-double { margin: $base-spacing-unit * 2 !important; }
	.sm-push-double-top { margin-top: $base-spacing-unit * 2 !important; }
	.sm-push-double-bottom { margin-bottom: $base-spacing-unit * 2 !important; }
	.sm-push-double-right { margin-right: $base-spacing-unit * 2 !important; }
	.sm-push-double-left { margin-left: $base-spacing-unit * 2 !important; }
	.sm-push-double-ends { margin-top: $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
	.sm-push-double-sides { margin-left: $base-spacing-unit * 2 !important; margin-right: $base-spacing-unit * 2 !important; }
	
	.sm-push { margin: $base-spacing-unit !important; }
	.sm-push-top { margin-top: $base-spacing-unit !important; }
	.sm-push-bottom { margin-bottom: $base-spacing-unit !important; }
	.sm-push-right { margin-right: $base-spacing-unit !important; }
	.sm-push-left { margin-left: $base-spacing-unit !important; }
	.sm-push-ends { margin-top: $base-spacing-unit !important; margin-bottom: $base-spacing-unit !important; }
	.sm-push-sides { margin-left: $base-spacing-unit !important; margin-right: $base-spacing-unit !important; }

	.sm-push-half { margin: $base-spacing-unit / 2 !important; }
	.sm-push-half-top { margin-top: $base-spacing-unit / 2 !important; }
	.sm-push-half-bottom { margin-bottom: $base-spacing-unit / 2 !important; }
	.sm-push-half-right { margin-right: $base-spacing-unit / 2 !important; }
	.sm-push-half-left { margin-left: $base-spacing-unit / 2 !important; }
	.sm-push-half-ends { margin-top: $base-spacing-unit / 2 !important; margin-bottom: $base-spacing-unit / 2 !important; }
	.sm-push-half-sides { margin-left: $base-spacing-unit / 2 !important; margin-right: $base-spacing-unit / 2 !important; }

	.sm-flush { margin: 0 !important; }
	.sm-flush-top { margin-top: 0 !important; }
	.sm-flush-bottom { margin-bottom: 0 !important; }
	.sm-flush-right { margin-right: 0 !important; }
	.sm-flush-left { margin-left: 0 !important; }
	.sm-flush-ends { margin-top: 0 !important; margin-bottom: 0 !important; }
	.sm-flush-sides { margin-left: 0 !important; margin-right: 0 !important; }
}

// XS Breakpoint
@media (max-width: $screen-sm-min) {

	// Font Size Adjustments
	body {
		font-size: ceil(($font-size-base * 1.15));

		.panel {
			font-size: ceil(($font-size-base * 1.1));
		}
	}

	.lead {
		font-size: 1.2em;
	}

	h1, .h1 { font-size: floor(($font-size-base * 2.4)); }
	h2, .h2 { font-size: floor(($font-size-base * 2)); }
	h3, .h3 { font-size: ceil(($font-size-base * 1.65)); }
	h4, .h4 { font-size: ceil(($font-size-base * 1.45)); }
	h5, .h5 { font-size: ceil(($font-size-base * 1.3)); }
	h6, .h6 { font-size: $font-size-base; }

	// Grid
	.xs-row-reverse {
		direction:rtl;
	}


	// Navigation
	.xs-nav-stacked {
	  > li {
	    float: none;
	    + li {
	      margin-top: 2px;
	      margin-left: 0; // no need for this gap between nav items
	    }
	  }
	}

	// Positioning

	.xs-absolute { position: absolute; }
	.xs-relative { position: relative; }

	.xs-top-zero { top: 0; }
	.xs-right-zero { right: 0; }
	.xs-bottom-zero { bottom: 0; }
	.xs-left-zero { left: 0; }

	.xs-top-auto { top: auto; }
	.xs-right-auto { right: auto; }
	.xs-bottom-auto { bottom: auto; }
	.xs-left-auto { left: auto; }

	.xs-width-half { width: 50%; }
	.xs-width-full { width: 100%; }

	.xs-text-center { text-align: center; }
	.xs-text-left { text-align: left; }
	.xs-text-right { text-align: right; }

	.xs-soft-double { padding: $base-spacing-unit * 2 !important; }
	.xs-soft-double-top { padding-top: $base-spacing-unit * 2 !important; }
	.xs-soft-double-bottom { padding-bottom: $base-spacing-unit * 2 !important; }
	.xs-soft-double-right { padding-right: $base-spacing-unit * 2 !important; }
	.xs-soft-double-left { padding-left: $base-spacing-unit * 2 !important; }
	.xs-soft-double-ends { padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
	.xs-soft-double-sides { padding-left: $base-spacing-unit * 2 !important; padding-right: $base-spacing-unit * 2 !important; }

	.xs-soft { padding: $base-spacing-unit !important; }
	.xs-soft-top { padding-top: $base-spacing-unit !important; }
	.xs-soft-bottom { padding-bottom: $base-spacing-unit !important; }
	.xs-soft-right { padding-right: $base-spacing-unit !important; }
	.xs-soft-left { padding-left: $base-spacing-unit !important; }
	.xs-soft-ends { padding-top: $base-spacing-unit !important; padding-bottom: $base-spacing-unit !important; }
	.xs-soft-sides { padding-left: $base-spacing-unit !important; padding-right: $base-spacing-unit !important; }

	.xs-soft-half { padding: $base-spacing-unit / 2 !important; }
	.xs-soft-half-top { padding-top: $base-spacing-unit / 2 !important; }
	.xs-soft-half-bottom { padding-bottom: $base-spacing-unit / 2 !important; }
	.xs-soft-half-right { padding-right: $base-spacing-unit / 2 !important; }
	.xs-soft-half-left { padding-left: $base-spacing-unit / 2 !important; }
	.xs-soft-half-ends { padding-top: $base-spacing-unit / 2 !important; padding-bottom: $base-spacing-unit / 2 !important; }
	.xs-soft-half-sides { padding-left: $base-spacing-unit / 2 !important; padding-right: $base-spacing-unit / 2 !important; }

	.xs-hard { padding: 0 !important; }
	.xs-hard-top { padding-top: 0 !important; }
	.xs-hard-bottom { padding-bottom: 0 !important; }
	.xs-hard-right { padding-right: 0 !important; }
	.xs-hard-left { padding-left: 0 !important; }
	.xs-hard-ends { padding-top: 0 !important; padding-bottom: 0 !important; }
	.xs-hard-sides { padding-left: 0 !important; padding-right: 0 !important; }

	.xs-push-double { margin: $base-spacing-unit * 2 !important; }
	.xs-push-double-top { margin-top: $base-spacing-unit * 2 !important; }
	.xs-push-double-bottom { margin-bottom: $base-spacing-unit * 2 !important; }
	.xs-push-double-right { margin-right: $base-spacing-unit * 2 !important; }
	.xs-push-double-left { margin-left: $base-spacing-unit * 2 !important; }
	.xs-push-double-ends { margin-top: $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
	.xs-push-double-sides { margin-left: $base-spacing-unit * 2 !important; margin-right: $base-spacing-unit * 2 !important; }
	
	.xs-push { margin: $base-spacing-unit !important; }
	.xs-push-top { margin-top: $base-spacing-unit !important; }
	.xs-push-bottom { margin-bottom: $base-spacing-unit !important; }
	.xs-push-right { margin-right: $base-spacing-unit !important; }
	.xs-push-left { margin-left: $base-spacing-unit !important; }
	.xs-push-ends { margin-top: $base-spacing-unit !important; margin-bottom: $base-spacing-unit !important; }
	.xs-push-sides { margin-left: $base-spacing-unit !important; margin-right: $base-spacing-unit !important; }

	.xs-push-half { margin: $base-spacing-unit / 2 !important; }
	.xs-push-half-top { margin-top: $base-spacing-unit / 2 !important; }
	.xs-push-half-bottom { margin-bottom: $base-spacing-unit / 2 !important; }
	.xs-push-half-right { margin-right: $base-spacing-unit / 2 !important; }
	.xs-push-half-left { margin-left: $base-spacing-unit / 2 !important; }
	.xs-push-half-ends { margin-top: $base-spacing-unit / 2 !important; margin-bottom: $base-spacing-unit / 2 !important; }
	.xs-push-half-sides { margin-left: $base-spacing-unit / 2 !important; margin-right: $base-spacing-unit / 2 !important; }

	.xs-flush { margin: 0 !important; }
	.xs-flush-top { margin-top: 0 !important; }
	.xs-flush-bottom { margin-bottom: 0 !important; }
	.xs-flush-right { margin-right: 0 !important; }
	.xs-flush-left { margin-left: 0 !important; }
	.xs-flush-ends { margin-top: 0 !important; margin-bottom: 0 !important; }
	.xs-flush-sides { margin-left: 0 !important; margin-right: 0 !important; }
}

// Converted Grid to Inline
.col-xs-1, 
.col-sm-1, 
.col-md-1, 
.col-lg-1, 
.col-xs-2, 
.col-sm-2, 
.col-md-2, 
.col-lg-2, 
.col-xs-3, 
.col-sm-3, 
.col-md-3, 
.col-lg-3, 
.col-xs-4, 
.col-sm-4, 
.col-md-4, 
.col-lg-4, 
.col-xs-5, 
.col-sm-5, 
.col-md-5, 
.col-lg-5, 
.col-xs-6, 
.col-sm-6, 
.col-md-6, 
.col-lg-6, 
.col-xs-7, 
.col-sm-7, 
.col-md-7, 
.col-lg-7, 
.col-xs-8, 
.col-sm-8, 
.col-md-8, 
.col-lg-8, 
.col-xs-9, 
.col-sm-9, 
.col-md-9, 
.col-lg-9, 
.col-xs-10, 
.col-sm-10, 
.col-md-10, 
.col-lg-10, 
.col-xs-11, 
.col-sm-11, 
.col-md-11, 
.col-lg-11, 
.col-xs-12, 
.col-sm-12, 
.col-md-12, 
.col-lg-12 {
	display: inline-block;
	float: none;
	vertical-align: top;
}

body:after {
	content: 'Xtra Small';
	font-family: $font-family-sans-serif;
	font-weight: 700;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	color: white;
	background-color: red;
	padding: $base-spacing-unit/2;

	@media (min-width: $screen-sm-min) {
		content: 'Small';
	}

	@media (min-width: $screen-md-min) {
		content: 'Medium';
	}

	@media (min-width: $screen-lg-min) {
		content: 'Large';
	}
}