@import "vars";
@import '_bootstrap';

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $font-family-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-sans-serif;
	font-weight: 700;
	letter-spacing: -.5px;
}

.btn {
	font-family: $font-family-sans-serif;
	font-weight: 700;
}